<div class="bottom_menu">
    <div onclick="window.location.href='pages/yanquan/index.shtml'">
        <div class="yq"></div>
        <div class="text">验券</div>
    </div>
    <div class="curr" onclick="window.location.href='pages/tongji/index.shtml'">
        <div class="tj"></div>
        <div class="text">统计</div>
    </div>
    <div onclick="window.location.href='pages/huiyuan/index.shtml'">
        <div class="hy"></div>
        <div class="text">会员</div>
    </div>
    <div onclick="window.location.href='pages/wode/index.shtml'">
        <div class="me"></div>
        <div class="text">我的</div>
    </div>
</div>