.logo {
    width: 200px;
    margin: 20px auto;
    display: block;
}

.login-form{
    margin: 60px 20px 0 20px;
}

.login-group{
    overflow: auto;
    zoom: 1;
    display: block;
    padding: 5px;
    margin-top: 15px;
}

.login-label{
    width: 20%;
    float: left;
    display: block;
}
.login-label > img{
    height: 36px;
    display: block;
    margin: 0 auto;
}

.login-input{
    float: right;
    width: 80%;
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    border: none;
}