<div class="nav_box">
    <ul id="nav">
        <li class="top home"><a href="pages/shop/index.shtml" class="top_link"><span><img src="pages/shop/images/new_year/index_ico_s.png" alt="" />首页</span></a></li>
        <li class="top"><a href="pages/shop/sjlb.shtml" id="products" class="top_link"><span class="down"><img src="pages/shop/images/new_year/sj_ico_s.png" alt="" />商户</span></a></li>
        <li class="top me"><a href="pages/shop/grzx.shtml" id="privacy" class="top_link"><span><img src="pages/shop/images/new_year/web_my_ico.png" alt=" "/>我的</span></a></li>
    </ul>
</div>