<div class="bt_nav_mob">
    <ul>
        <li  class="current" onclick="window.location.href='pages/shop/index.shtml'">
            <span class="home"></span>
            <span>首页</span>
        </li>
        <li onclick="window.location.href='pages/shop/sjlb.shtml'">
            <span class="shop"></span>
            <span>商户</span>
        </li>
        <li onclick="window.location.href='pages/shop/grzx.shtml'">
            <span class="my"></span>
            <span>我的</span>
        </li>
    </ul>
</div>