<link rel="stylesheet" type="text/css" href="css/custom.css">
<script type="text/javascript" src="js/core/sea.js"></script>
<script type="text/javascript" src="js/core/jquery.js"></script>

<script type="text/javascript">
    seajs.config({
        base: ctxPaths+"/js",
        alias: {
            "zepto": "core/zepto.js",
            "underscore": "core/underscore.js",
            "backbone": "core/backbone.js",
            "template": "core/template.js",
            "utils": "core/utils.js"
        }
    });
</script>

<script type="text/javascript">
    seajs.use("core/base.js");
</script>

<script>
    document.write('<div style="display:none"><script language="javascript" type="text/javascript" src="http://js.users.51.la/17446882.js"><\/script>');
    document.write('<noscript><a href="http://www.51.la/?17446882" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17446882.asp" style="border:none" \/><\/a><\/noscript></div>');
</script>
		