<div class="top_nav_mob">
    <!--<div class="nav-wrap-left"><a href="city.html">济南<i></i></a></div> -->
    <div class="nav-wrap-left"><a href="http://jinan.wxcs.cn/"><img src="pages/shop/images/new_year/logo.png" alt="" /></a></div>
    <div class="box-search"><a href="pages/shop/search_mobile.shtml"><i></i><span>输入商家、品类、商圈</span></a></div>
    <div class="nav-wrap-right"><a href="pages/shop/map.shtml"></a></div>
</div>