<div class="top_box i_top_box" style="border:0;">
    <div class="city">
        <!--<h4 id="city-name">济南市</h4>
        <a href="pages/shop/city.shtml">切换城市<i></i></a>-->
    </div>
    <div class="search">
        <input type="text" class="search-input" value="请输入商户名称、地址等"/>
        <a href="javascript:;" class="search-btn">搜索</a>
    </div>
    <ul class="mob_ico_link">
        <li><a href="pages/shop/map.shtml"></a></li>
    </ul>
</div>


<script type="text/javascript">
    seajs.use("include/common/head_search.js");
</script>