<link href="pages/shop/css/core.css" rel="stylesheet" type="text/css">
<link href="pages/shop/css/patch.css" rel="stylesheet" type="text/css">

<!--新春版专用皮肤-->
<link rel="stylesheet" type="text/css" href="pages/shop/css/new_year.css">

<!--[if lt IE 9]>
<script type="text/javascript" src="js/browser/css3-mediaqueries.min.js"></script>
<script type="text/javascript" src="js/browser/html5.min.js"></script>
<![endif]-->
<!--[if IE 8]>
<link href="pages/shop/css/hack.css" rel="stylesheet" type="text/css"/>
<![endif]-->
<!--[if IE 7]>
<link href="pages/shop/css/hack.css" rel="stylesheet" type="text/css"/>
<![endif]-->

<!--弹窗插件样式默认隐藏设置-->
<style type="text/css">
    .yiLayer {
        display: none;
    }
</style>

<script type="text/javascript" src="js/core/sea.js"></script>
<script type="text/javascript" src="js/core/jquery.js"></script>
<script type="text/javascript">
    seajs.config({
        base: ctxPaths + "/js",
        alias: {
            "template": "core/template.js",
            "utils": "core/utils.js"
        }
    });
</script>

<script type="text/javascript">
    seajs.use("core/base.js");
</script>
