<!-- 加关注弹出窗代码 -->
<div class="yiLayer" id="layer-cancel">
    <h2><i class="yiLayer-tip"></i>真的不关注我？</h2>

    <p>不关注我你就收不到我为您精心准备的优惠信息了；不关注我你就享受不到我们店的特殊优惠了。</p>
    <a href="javascript:;" class="btn_1 cancel-verify">不关注了</a>
    <a href="javascript:;" class="btn_2 yiLayer-close">再看看</a>
</div>
<div class="yiLayer " id="layer-error">
    <h2><i class="yiLayer-tip-error"></i>出错啦！</h2>

    <p>网络拥堵，稍后再来试试吧。</p>
    <a href="javascript:;" class="btn_3 yiLayer-close">我知道了</a>
</div>
<div class="yiLayer" id="layer-cancel-ok">
    <h2><i></i>取消关注成功！</h2>
    <a href="javascript:;" class="btn_3 yiLayer-close">我知道了</a>
</div>

<div class="yiLayer" id="layer-add-ok">
    <h2><i></i>关注成功！</h2>
    <a href="javascript:;" class="btn_3 yiLayer-close">我知道了</a>
</div>

<div class="yiLayer" id="layer-lingqu">
    <p><i></i>成为和生活会员成功！“点花灯”活动奖励你<strong style="font-size: 2em" class="j-cash">1元</strong>现金券</p>
    <a href="javascript:;" class="btn_3 yiLayer-close j-lingqu">点击领取</a>
</div>

<div class="yiLayer" id="layer-tuijian">
    <h2><i></i>关注成功！</h2>
    <p>参与点花灯活动可最高得<strong style="font-size:1.2em;color:#C00;">20元</strong>现金券</p>
    <a href="javascript:;" class="btn_1 yiLayer-close j-tuijian">点花灯,赢现金</a>
    <a href="javascript:;" class="btn_2 yiLayer-close j-tuijian">不去了</a>
</div>
