<!--登录提示框,可以每个页面都有，所以放到css_js.html中；如果为了精确控制，可以分别添加！-->
<div class="yiLayer" id="layer-login" style="display:none">
    <h2><i class="yiLayer-tip"></i>您还没登录！</h2>

    <p>为了让优惠券快点找到你，请先使用山东移动手机号码登录吧。</p>
    <a href="javascript:;" class="btn_1 login-now">立即登录</a>
    <a href="javascript:;" class="btn_2 yiLayer-close">再看看</a>
</div>
<script type="text/javascript">
    seajs.use("include/common/login.js");
</script>