/* 格式化 */
html,body,h1,h2,h3,h4,h5,div,p,ul,ol,dl,dt,dd,fieldset,img{margin:0;padding:0;list-style:none;font-weight:normal;border:0 none;color:#555;}
body{font-family:"yahei","Microsoft Yahei","微软雅黑";font-size:100%;min-width:320px;-webkit-text-size-adjust:none;-webkit-backface-visibility: hidden;}
a:focus,input[type=text]:focus,input[type=password]:focus,textarea:focus{outline:none 0}
a:link,a:visited,a:hover{text-decoration:none;color:#555;}
img{-ms-interpolation-mode:bicubic;}
.clear{clear:both;}
.btn_1,.btn_3{display:inline-block;margin:20px 0 0 0;float:left;background:#fd960d;width:48%;height:40px;line-height:40px;color:#fff!important;text-align:center;border-radius:3px;font-size:1em;}
.btn_2{display:inline-block;margin:20px 0 0 0;float:right;background:#fff;border:#fd960d 1px solid;width:48%;height:39px;line-height:39px;color:#fd960d!important;text-align:center;border-radius:3px;font-size:1em;}
.btn_3{width:100%;margin:20px auto 0 auto;}
.top_nav_mob,.bt_nav_mob{display:none;}
input[type="submit"],input[type="reset"],input[type="text"],input[type="button"],button{-webkit-appearance:none;}

/* 首页开始 */


/*主要部分*/
.jt-container{padding:10px 0 0 0!important;}
.sm_main{width:1250px;margin:0 auto;overflow:hidden;}
.top_box{padding:0;overflow:hidden;width:1250px;margin:10px auto 1em auto;position:relative;border-bottom:#dcdcdc 1px solid;}
.nav_box{border-top:#e7e6e6 1px solid;border-left:#e7e6e6 1px solid;border-bottom:#48ace7 4px solid;position:relative;z-index:9;height:50px;}
.ad_box,.pd_box{width:100%;overflow:hidden;}

/*头部*/
.top_box .city{width:30%;height:40px;line-height:40px;float:left;margin-top:6px;}
.top_box .city h4{float:left;font-size:1.5em;}
.top_box .city a{float:left;font-size:0.875em;display:inline-block;margin:2px 0 0 10px;position:relative;color:#59b3e7;}
.top_box .city a i{background:url(../images/main_ico.png) no-repeat right -491px;width:11px;height:8px;overflow:hidden;position:absolute;right:-15px;bottom:16px;} 
.top_box .mob_ico_link{display:block;float:left;margin:8px 0 0 8px;}
.i_top_box .mob_ico_link{top:0;}
.top_box .mob_ico_link li a{margin:5px 0 0 0;width:30px;display:inline-block;height:30px;line-height:30px;overflow:hidden;float:right;background-size:100%!important;background:url(../images/map_ico_s.png) no-repeat left top;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/map_ico_s.png);background:none\9!important;}
.top_box .search{width:50%;height:45px;line-height:45px;float:left;text-align:right;background:#fe950c;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;margin-top:6px;}
.top_box .search input{float:left;height:41px;line-height:41px;margin-top:2px;border:0;padding-left:5px;width:82%;margin-left:2px;color:#aaa;font-family:"yahei","Microsoft Yahei","微软雅黑";font-size:0.75em;}
.top_box .search a{float:right;width:16%;color:#fff;text-align:center;display:inline-block;}
.top_box .tag{float:right;width:20%;}
.top_box .tag ul{float:left;width:100%;}
.top_box .tag li{float:right;display:inline-block;width:80px;border-right:#d2d2d2 1px dashed;text-align:center;font-size:0.75em;color:#48ace7;}
.top_box .tag li i{font-style:normal;width:33px;height:33px;overflow:hidden;margin:0 auto;display:inline-block;background:url(../images/main_ico.png) no-repeat;}
.top_box .tag li.one{border:0;}
.top_box .tag li.one i{background-position:left -479px;}
.top_box .tag li.two i{background-position:left -545px;}
.top_box .tag li.three i{background-position:left -512px;}
.top_box .tag li span{width:80px;height:20px;line-height:20px;display:inline-block;text-align:center;}


/*导航菜单*/
#nav {padding:0; margin:0; list-style:none; height:50px; background:#f0f0f0; position:relative; z-index:500;}
#nav li.top{display:block; float:left; height:50px;}
#nav li.top img{vertical-align:middle;width:28px;height:28px;margin-right:8px;}
#nav li.me,#nav li.me:hover{position:absolute;right:0;top:0;}
#nav li.me a.top_link,#nav li.me:hover a.top_link{background:#48ace7;color:#fff;}
#nav li a.top_link {display:block; float:left; height:50px; line-height:50px; color:#555; text-decoration:none;font-size:16px;padding:0;width:140px;cursor:pointer;text-align:center;}
#nav li a.top_link span {display:block;}
#nav li a.top_link span.down {display:block;}
#nav li:hover a.top_link {color:#555; background:#fff;}
#nav li:hover a.top_link span {display:block;}
#nav li:hover a.top_link span.down {display:block;}
/* Default list styling */
#nav li:hover {position:relative; z-index:200;}
#nav li:hover ul.sub{left:0;top:50px;background:#fff;padding:0;white-space:nowrap;width:140px;border-left:#f0f0f0 1px solid;border-right:#f0f0f0 1px solid;border-bottom:#f0f0f0 1px solid;height:auto;z-index:300;}
#nav li:hover ul.sub li{display:block;position:relative; float:left; width:140px; font-weight:normal;}
#nav li:hover ul.sub li a{display:block; font-size:14px;width:140px;text-indent:5px; color:#999; text-decoration:none;padding:5px 0;}
#nav li ul.sub li a.fly{background:#fff url(../images/dh_arrow.gif) no-repeat 130px 8px;position:relative;}
#nav li:hover ul.sub li a:hover {background:#f0f0f0; color:#555; border-color:#fff;}
#nav li:hover ul.sub li a.fly:hover{background:#f0f0f0 url(../images/dh_arrow.gif) no-repeat 130px 8px; color:#555;}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:140px; top:0; background:#fff; padding:0; white-space:nowrap; width:140px; z-index:400; height:auto;border:#f0f0f0 1px solid;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#f0f0f0 url(../images/dh_arrow.gif) no-repeat 130px 8px;color:#555;} 

#nav li:hover li:hover a.fly i,
#nav li:hover li:hover li:hover a.fly i,
#nav li:hover li:hover li:hover li:hover a.fly i,
#nav li:hover li:hover li:hover li:hover li:hover a.fly i
{position:absolute;left:-1px;top:0;font-style:normal;background:#48ace7;width:3px;height:29px;display:inline-block;}

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#fff url(../images/dh_arrow.gif) no-repeat 130px 8px;color:#999;} 



/*最新推荐*/
.adbox{width:100%;height:400px;position:relative;background:#fff;overflow:hidden;}
.main_image{width:100%;height:400px;overflow:hidden;margin:0 auto;position:relative;}
.main_image ul{width:9999px;height:400px;overflow:hidden;position:absolute;top:0;left:0;}
.main_image li{float:left;width:100%;height:400px;position:relative;}
.main_image li span{display:block;height:400px;}
.main_image li a{width:100%;height:400px;display:block;}
.main_image li a img{display:block;width:100%;}
.flicking_inner{position:absolute;bottom:20px;left:0;z-index:1;height:20px;width:100%;text-align:center;}
.flicking_con a{margin-left:5px;width:13px;height:13px;border:#aaa 2px solid;padding:0;background:#aaa;-webkit-border-radius:20px;border-radius:20px;display:inline-block;overflow:hidden;}
.flicking_con a.on{background:#48ace7;border:#48ace7 2px solid;}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px;height:74px;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:20px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:20px;}



/*商家列表*/
.pd_box{background:#f0f0f0;padding:0.5em 0;}
.pd_box dl{width:278px;height:270px;overflow:hidden;float:left;border:#f0f0f0 1px solid;padding:10px;margin:6px;background:#f0f0f0;}
.sj_page .pd_box{margin-top:10px;}
.sj_page .pd_box dl{height:270px;}
.pd_box dl:hover{background:#fff;border:#dfdfdf 1px solid;}
.pd_box dt{width:100%;height:169px;overflow:hidden;float:left;position:relative;}
.pd_box dt img{width:100%;height:180px;float:left;}
.pd_box dt span{display:inline-block;width:100%;text-align:center;padding:5px 0;color:#fff;position:absolute;left:0;bottom:0;font-size:0.75em;background:#555;-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.pd_box dd{width:100%;padding:3px 0;float:left;font-size:0.875em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.pd_box dd.yh_text{color:#fe950c;}
.pd_box dd.price{margin-top:5px;}
.pd_box dd.price b{font-size:25px;font-weight:normal;color:#f60;float:left;}
.pd_box dd.price del{margin-left:0.3em;float:left;margin-top:12px;}
.pd_box dd.price div{float:right;margin-top:7px;}
.pd_box dd.tit{color:#000;font-size:1em;}
.pd_box dd.pl{color:#d1001a;}
.pd_box dd .label i{background:#fff;border:#fe950c 1px solid;font-style:normal;border-radius:4px;color:#fe950c;padding:2px 5px;}


/*搜索结果*/
.search_tj_view{margin-bottom:10px;padding:8px 15px;border:1px solid #e5dadb;background-color:#fff7d0;}
.search_tj_view .keyword,.search_tj_view .count{color:#f76120;font-weight:bold;}
.search_tj_none{float:left;border:#e7e6e6 1px solid;width:1248px;padding:1em 0;}
.search_tj_none .l_ico{float:left;width:30%;text-align:right;}
.search_tj_none .l_ico img{width:60px;}
.search_tj_none .r_nr{width:68%;float:right;}
.search_tj_none .r_nr h1{font-size:1.5em;}
.search_tj_none .r_nr h1 span{color:#f00;}
.search_tj_none .r_nr ol{list-style:disc;margin-top:10px;}
.search_tj_none .r_nr li{display:inline-block;float:left;width:100%;line-height:25px;list-style:disc;}
.tj_shop{float:left;width:100%;border-bottom:#dcdcdc 1px solid;padding:1em 0;}
.tj_shop h1{font-size:1.5em;}



/*区块标题*/
.qukuai_tit{width:100%;float:left;border-bottom:#dcdcdc 1px solid;padding:12px 0;}
.qukuai_tit h2{padding:0;margin:0;float:left;font-size:20px;height:28px;line-height:28px;}
.qukuai_tit h2 i{display:inline-block;background:url(../images/time_ico.png) no-repeat center center;background-size:100%;width:28px;height:28px;vertical-align:top;margin-right:10px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/time_ico.png);background:none\9!important;}
.qukuai_tit .zs{float:left;margin-left:2em;height:30px;line-height:30px;color:#f60;}
.qukuai_tit .haveday{float:left;margin-left:2em;}
.qukuai_tit .haveday i{font-style:normal;}
.qukuai_tit .haveday span{display:inline-block;background:#555;width:35px;height:30px;line-height:30px;text-align:center;margin:0 5px;border-radius:4px;color:#fff;}
.qukuai_tit a{float:right;height:30px;line-height:30px;color:#48ace7;}
.center_title{margin-top:10px;}
.like_title h2 i{display:inline-block;background:url(../images/like_ico.png) no-repeat center center;background-size:100%;width:28px;height:28px;vertical-align:top;margin-right:10px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/like_ico.png);background:none\9!important;}

/*秒杀*/
.miaosha{width:100%;overflow:hidden;clear:both;border-bottom:#dcdcdc 1px solid;}
.miaosha .sp_list{width:100%;float:left;padding:10px 0;}
.miaosha .sp_list dl{width:25%;float:left;box-sizing:border-box;border-right:#dcdcdc 1px solid;padding:0 15px;}
.miaosha .sp_list dl.pd_4{border:#fff 1px solid;}
.miaosha .sp_list dt{width:100%;float:left;height:169px;overflow: hidden;}
.miaosha .sp_list dt img{width:100%;}
.miaosha .sp_list dd{float:left;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;margin-top:8px;}
.miaosha .sp_list dd.price .label{float:right;}
.miaosha .sp_list dd.price i{font-style:normal;display:block;text-align:center;font-size:18px;color:#fe950c;float:right;}
.miaosha .sp_list dd.price{padding:0;}
.miaosha .sp_list dd.price b{font-size:1em;background:#f60;color:#fff;display:inline-block;padding:2px 8px;width:50px;border-radius:20px;text-align:center;font-weight:normal;}
.miaosha .sp_list dd.price b.end{background:#ccc;color:#fff;}


/*秒杀列表*/
.ms_list{background:#f0f0f0;}
.ms_list .sp_list dl{width:278px;height:240px;overflow:hidden;float:left;border:#f0f0f0 1px solid;padding:10px;margin:6px;background:#f0f0f0;box-sizing:content-box;}
.ms_list .qukuai_tit{background:#fff;} 
.ms_list .sp_list dl:hover{background:#fff;border:#dfdfdf 1px solid;}



/* 首页结束 */





/* 商家详情页开始 */


/*主要部分*/
.sm_list_main{width:1250px;margin:0 auto;overflow:hidden;}
.list_frame{padding:10px;border:#e7e6e6 1px solid;height:227px;overflow:hidden;}
.list_frame dt{font-size:1.5em;width:30%;height:224px;overflow:hidden;float:left;}
.list_frame dd{width:100%;}

/*商家详情*/
.list_name{width:1228px;float:left;position:relative;}
.list_name img{width:100%;height:224px;}
.list_name dt{position:relative;}
.list_name dt i{filter:alpha(Opacity=95);-moz-opacity:0.95;opacity:0.95;cursor:pointer;background:#ed4a9f;color:#fff;font-size:0.5em;position:absolute;right:0;bottom:0;font-style:normal;;text-align:center;padding:8px 14px;}
.list_name dd{width:68%;float:right;height:30px;line-height:30px;padding:7px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:#eee 1px solid;font-size:0.9em;}
.list_name dd.yh_text{line-height:100%;height:auto;white-space:normal;}
.list_name dd.yh_text p{float:left;width:96%;margin-top:5px;color:#fe950c;}
.list_name dd.yh_text h4{float:left;display:block;background:#f60;color:#fff;padding:5px 4px;fonr-weight:normal;text-align:center;margin-right:8px;margin-top:4px;font-size:14px;border-radius:4px;}
.list_name dd.t_name{padding-top:0;}
.list_name dd .tit{font-size:1.5em;}
.list_name .start_frame{border-top:0;}
.list_name .star_box{height:20px;float:left;width:20%;margin-top:5px;margin-right:1em;}
.list_name .price{float:left;width:20%;margin-right:1em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list_name .num{float:right;width:40%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}
.list_name .map i{display:inline-block;background:url(../images/map_m.jpg) no-repeat left center;background-size:100%;width:25px;height:25px;vertical-align:middle;margin-right:8px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/map_m.jpg);background:none\9!important;}
.list_name .phone i{display:inline-block;background:url(../images/phone_m.jpg) no-repeat left center;background-size:100%;width:25px;height:25px;vertical-align:middle;margin-right:8px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/phone_m.jpg);background:none\9!important;}

.list_xq{border-top:0;border-bottom-color:#dcdcdc;border-left-color:#dcdcdc;border-right-color:#dcdcdc;padding-top:0;height:auto;}
.list_xq h2{width:100%;text-indent:1em;background:#ddd;height:40px;line-height:40px;font-size:1em;color:#000;margin:1em 0;}
.list_xq p{font-size:0.875em;margin-bottom:0.5em;}
.list_xq p img{width:100%;}

/*优惠券*/
.list_que{width:1228px;clear:both;position:relative;height:auto;margin-top:10px;padding-top:0;font-size:0.9em;}
.list_que .p_list{width:100%;float:left;padding:10px 0;border-bottom:#eee 1px solid;}
.list_que h4{float:left;display:block;background:#f60;color:#fff;padding:3px 5px;fonr-weight:normal;text-align:center;margin-right:1em;margin-top:4px;font-size:14px;border-radius:4px;}
.list_que p.c_1{width:35%;line-height:20px;float:left;margin-right:1em;margin-top:7px;font-size:1.2em;}
.list_que p.c_2{width:20%;line-height:20px;float:left;margin-right:1em;margin-top:7px;}
.list_que p.c_2 i{font-size:1.2em;font-style:normal;color:#ec261e;margin-right:5px;}
.list_que p.c_2 del{color:#a9a9a9;}
.list_que p.c_3{width:20%;line-height:20px;float:left;margin-right:1em;margin-top:7px;color:#a9a9a9;}
.list_que button{display:inline-block;float:right;background:#fff;width:60px;padding:5px 0;text-align:center;color:#fd960d;border:#fd960d 1px solid;border-radius:4px;font-size:14px;}
.list_que button.t_no{color:#c4c4c4;border:#c4c4c4 1px solid;}


/*更多商家*/
.more_list{padding:10px;border:#e7e6e6 1px solid;overflow:hidden;clear:both;margin-bottom:10px;}
.more_list dl{width:100%;overflow:hidden;position:relative;}
.more_list dt{font-size:1.5em;width:20%;float:left;max-height:146px;overflow:hidden;}
.more_list dt img{width:100%;float:left;}
.more_list dd{width:78%;float:right;margin-bottom:0.5em;}
.more_list dd.tit{font-size:1.5em;}
.more_list dd.map{position:absolute;bottom:0;right:0;width:10%;text-align:right;}


/*星级评分*/
.start_frame{border-top:#e7e6e6 1px solid;border-bottom:#e7e6e6 1px solid;padding:10px 0;}
.star_box {position:relative;width:100%;height:25px;}
.star_box span {float:left;height:25px;line-height:25px;}
.star_box ul{margin:0;}
.star_box li{float:left;width:20px;height:20px;background:url(../images/star.png) left top no-repeat;cursor:default;background-size:100%;}
.star_box li a{display:inline-block;float:left;width:20px;height:20px;cursor:default;}
.star_box li.on{background-position:0 -36px;}
.star_box strong {color:#ff6600;font-weight:normal;}
.star_box2{margin-top:10px;}
.star_box2 span{display:inline-block;width:100px;}
.hidden{display:none;}
/*评论*/
.star{position:relative;height:25px;overflow:hidden;}
.star .desc{margin-left:10px;color:#aaa;}
.star span{float:left;height:25px;line-height:25px;}
.star ul{margin:0;}
.star li{float:left;width:25px;height:25px;background:url(../images/star.png) no-repeat left top;cursor:pointer;}
.star li.on{background-position:0 -45px;}
.star li a{display:inline-block;float:left;width:25px;height:25px;cursor:pointer;}
.star strong {color:#ff6600;padding-left:10px;}
.hidden{display:none;}
.start_2{margin-top:15px;padding-left:2em;}


/*弹出层*/
.open_tips{padding:10px;width:250px;overflow:hidden;position:absolute;left:0;top:0;z-index:99;background:#fff;border:#ff7f66 2px solid;border-radius:4px;}
.open_tips h2{font-size:1.2em;text-align:center;height:40px;line-height:40px;overflow:hidden;}
.open_tips h2 i{display:inline-block;font-style:normal;width:35px;height:35px;vertical-align:middle;background-size:100%!important;margin-right:0.5em;}
.open_tips p{margin-top:1em;word-break:break-all;word-wrap:break-word;font-size:0.9em;width:100%;}
.open_tips .layout_y{max-height:180px;}
#background{position:absolute;z-index:999999999;top:0;left:0;background:#555;display:none;padding:0;margin:0;width:100%!important;-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity=80);}
#content,#content_1,#content_2,#content_3,#content_4,#content_5{position:fixed;z-index:999999999999;display:none;left:50%;top:50%;margin:-125px 0 0 -135px;}
/*登录提示*/
.open_tips .login_s h2 i{background:url(../images/error.jpg) no-repeat left top;}
/*取消关注*/
.open_tips .focus h2 i{background:url(../images/error.jpg) no-repeat left top;}
/*出错*/
.open_tips .error h2 i{background:url(../images/error_2.jpg) no-repeat left top;}
.open_tips .error P{text-align:center;}
/*取消关注成功*/
.open_tips .qx_right h2 i{background:url(../images/right.jpg) no-repeat left top;}
/*支付弹层*/
.pay_tips{width:100%;float:left;}
.pay_tips h1{font-size:1.5em;width:100%;text-align:center;}




/*错误页面*/
.error_box{width:800px;overflow:hidden;margin:0 auto;position:relative;}
.error_box .er_l{float:left;width:300px;}
.error_box .er_r{position:absolute;width:auto;right:0;top:30%;}
.error_box .er_r h2{font-size:1.5em;width:100%;overflow:hidden;padding:0;margin:0 0 60px 0;}
.error_box .er_r ul{width:100%;overflow:hidden;}
.error_box .er_r ul li{float:left;display:inline-block;width:58px;height:100px;margin-right:50px;}
.error_box .er_r ul li a{float:left;display:inline-block;width:58px;height:100px;line-height:160px;text-align:center;}
.error_box .er_r ul li.back a{background:url(../images/error_back.jpg) no-repeat left top;}
.error_box .er_r ul li.back a:hover{background:url(../images/error_back_1.jpg) no-repeat left top;color:#48ace7;}
.error_box .er_r ul li.home a{background:url(../images/error_home.jpg) no-repeat left top;}
.error_box .er_r ul li.home a:hover{background:url(../images/error_home_1.jpg) no-repeat left top;color:#48ace7;}



/* 修改数量 */
.num_box{height:28px;line-height:28px;}
.num_box a,.num_box input{float:right;display:inline-block;padding:5px 0;}
.num_box a{text-align:center;font-size:1.5em;border-radius:4px;background:#dcdcdc;color:#999;width:28px;height:28px;line-height:25px;padding:0;}
.num_box a.curr{background:#f60;color:#fff;}
.num_box input{width:40px;border:#ccc 1px solid;text-align:center;font-size:0.9em;margin:0 5px;}


/*优惠详情*/
.yh_list{padding:10px;border:#e7e6e6 1px solid;overflow:hidden;}
.yh_list dl{width:100%;margin:0 auto;overflow:hidden;border-bottom:#e7e6e6 1px solid;padding-bottom:1em;}
.yh_list dt{float:left;width:440px;}
.yh_list dt img{width:440px;height:250px;float:left;}
.yh_list dd{float:right;width:760px;border-bottom:#eee 1px solid;padding:0;}
.yh_list dd.mc{padding-top:0;padding-bottom:10px;}
.yh_list dd.jg{padding-bottom:5px;}
.yh_list .sj_info{width:100%;float:left;}
.yh_list .sj_info dd.sj{position:relative;width:100%;}
.yh_list .sj_info dd.sj h4{float:left;height:34px;line-height:34px;}
.yh_list .sj_info dd.sj h4 img{width:30px;margin-right:5px;vertical-align:middle;}
.yh_list .sj_info dd.sj a{position:absolute;right:0;top:10px;font-size:0.875em;color:#f60;}
.yh_list .sj_info .address p.map{display:none;}
.yh_list .sj_info .address{width:100%;padding:10px 0;}
.yh_list .sj_info .address a.film_pq{display:inline-block;position:absolute;top:30%;right:0;width:80px;background:#fff;height:30px;line-height:30px;text-align:center;font-size:0.75em;margin-top:0;border:#0092e7 1px solid;color:#0092e7;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.yh_list .sj_info .address p{font-size:100%;color:#555;margin-bottom:3px;color:#7b7b7b;font-size:0.875em;}
.yh_list .sj_info .address p strong{font-size:16px;color:#555;}
.yh_list .sj_info .phone{display:none;}
.yh_list dd.sub a{display:block;width:180px;height:40px;line-height:40px;margin-top:0;}
.yh_list dd h1,.yh_list dd p{float:left;width:100%;}
.yh_list dd h1{font-size:1.5em;}
.yh_list dd p{color:#aaa;font-size:0.875em;}
.yh_list dd .price{width:100%;float:left;border-bottom:#eee 1px solid;padding:10px 0;background:#fff;}
.yh_list dd .price h2{color:#e30606;float:left;}
.yh_list dd .price del{font-size:0.875em;float:left;margin:10px 0 0 10px;color:#a9a9a9;}
.yh_list dd .price a.btn_3{display:none;}
.yh_list dd .no_price{width:100%;margin-top:0;}
.yh_list dd .no_price h2,.yh_list dd .no_price p{float:left;}
.yh_list dd .no_price h2{width:100px;}
.yh_list dd .no_price p{width:600px;height:31px;line-height:31px;}
.yh_list dd .services{width:60%;float:left;padding:10px 0 0 0;}
.yh_list dd .services li{float:left;width:49%;margin-right:1%;height:22px;iine-height:22px;font-size:0.9em;margin-bottom:10px;color:#555;}
.yh_list dd .services li img{width:22px;vertical-align:middle;margin-right:5px;}
.yh_list dd.sub{padding:0;border:0;margin-top:1em;}
.yh_list .other_yh{width:100%;float:left;border-top:#eee 1px solid;border-bottom:#eee 1px solid;padding:10px 0;}
.yh_list .other_yh a{color:#fd960d;text-decoration:underline;}
.yh_list .other_yh h4{color:#555;font-size:16px;font-weight:bold;width:100%;}
.yh_list .other_yh ul{width:100%;}
.yh_list .other_yh ul li{width:100%;floaT:left;display:inline-block;margin:15px 0 0 0;}
.yh_list .other_yh ul li .y_1{float:left;display:inline-block;width:50%;}
.yh_list .other_yh ul li .y_2{float:left;display:inline-block;width:25%;color:#e30606;}
.yh_list .other_yh ul li .y_3{float:left;display:inline-block;width:25%;color:#a9a9a9;}

.yh_list .detail_main{width:100%;margin:0 auto;overflow:hidden;clear:both;}
.yh_list .detail_main table.ps_list{border-collapse:collapse;border-spacing:0;border-top:#ccc 1px solid;border-right:#ccc 1px solid;width:100%;}
.yh_list .detail_main table.ps_list td{background:#fff;font-size:0.875em;padding:10px;border-collapse:collapse;border-spacing:0;border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;}
.yh_list .detail_main table.ps_list td i{font-style:normal;color:#f60;font-weight:bold;}
.yh_list .detail_main table.ps_list th{background:#efefef;text-align:center;font-size:0.875em;font-weight:bold;padding:10px 0;border-collapse:collapse;border-spacing:0;border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;}
.yh_list .detail_main h2{width:100%;text-indent:1em;background:#ddd;height:40px;line-height:40px;font-size:1em;color:#000;margin:1em 0;}
.yh_list .detail_main p{ling-height:180%;margin:10px 0;font-size:0.875em;}
.yh_list .detail_main p img{width:100%;}
.yh_list .detail_main ul{list-style:disc;width:100%;overflow:hidden;}
.yh_list .detail_main li{font-size:0.875em;width:98%;margin-left:2%;float:left;line-height:25px;list-style:disc;}
#content_4  i.w_close{width:43px;height:44px;font-style:normal;position:absolute;top:0;right:0;background:url(../images/w_close.png) no-repeat left top;display:inline-block;cursor:pointer;}
#content_4 .profile h3{font-size:1em;width:100%;float:left;padding:0;margin:1em 0 10px 0;color:#e30606;}
#content_4 .profile .ph{border-top:#dcdcdc 1px solid;width:100%;float:left;padding:10px 0;}
#content_4 .profile .ph ul{width:100%;float:left;}
#content_4 .profile .ph li{float:left;display:inline-block;margin:8px 8px 0 0;font-size:0.75em;background:#0092e7;color:#fff;padding:2px;}
.layout_y{overflow-y:auto;overflow-x:hidden;max-height:300px;}

.sm_list_main .sj_ico i{background:url(../images/home_m.jpg) no-repeat center center;background-size:100%;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/home_m.jpg);background:none\9!important;}
.sm_list_main .sp_ico i{background:url(../images/pdo_m.jpg) no-repeat center center;background-size:100%;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/pdo_m.jpg);background:none\9!important;}

/* 商家详情页结束 */


/* tab标签 */
.sm_list_tab{width:100%;float:left;}
.sm_list_tab li{display:inline-block;float:left;width:33%;text-align:center;background:#fff url(../images/line.png) repeat-y right 50%;}
.sm_list_tab li.ce{border-right:0;width:34%;}
.sm_list_tab li.last{background:#fff;}
.sm_list_tab li a{display:inline-block;width:100%;padding:20px 0;border-bottom:#dcdcdc 1px solid;}
.sm_list_tab li a:hover,.sm_list_tab li.curr a{border-bottom:#ccc 1px solid;color:#48ace7;}


/* 我的订单__我的关注__消息盒子 */
.more_list dd.pay{position:absolute;top:30%;right:20px;width:10%;text-align:center;}
.more_list dd.pay button{border:0;display:inline-block;width:100%;height:100%;padding:15px 0;color:#fff;background:#fe950c;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.more_list dd.sl,.more_list dd.zj{width:15%;float:left;margin-right:2%;}
.more_list dd.zj i{color:#d1001a;font-style:normal;}
.more_list dd.yh{color:#ec261e;}
.sm_list_main .my_gz dd.tit{margin-top:4%;}
.more_list dd.all_b{position:absolute;top:25%;right:20px;width:10%;text-align:center;margin:0;}
.more_list dd.all_b a{display:inline-block;width:100%;height:100%;padding:15px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.more_list dd.all_b a.b_1{color:#fff;background:#48ace7;}
.more_list dd.all_b a.b_2{padding:0;margin-top:10px;text-align:center;color:#48ace7;}
.dt_list dl div{overflow:hidden;float:right;width:78%;cursor:pointer;}
.dt_list dl dd{width:84%;float:left;}


/* 确认订单 */
.order_box{width:1250px;margin:0 auto;overflow:hidden;}
.order_sure_box{width:1248px;margin:0 auto;overflow:hidden;border:#e7e6e6 1px solid;}
.order_sure_box div{width:1228px;padding:10px;overflow:hidden;margin:0 auto;}
.order_sure_box div h2,.order_sure_box div ul{width:100%;float:left;}
.order_sure_box div h2{font-size:1em;padding-bottom:0.5em;margin-bottom:10px;background:#eee;width:99%;padding:10px 0 10px 1%;font-weight:bold;}
.order_sure_box div ul{width:98%;margin:0 auto;overflow:hidden;float:none;}
.order_sure_box div ul li{width:100%;display:inline-block;float:left;font-size:0.875em;overflow:hidden;border-bottom:#e7e6e6 1px solid;padding:0.8em 0;}
.order_sure_box div ul li span.r_box strong{color:#f60;}
.order_sure_box div ul li.last,.order_sure_box div.mob_num ul li{border:0;}
.order_sure_box div.mob_num ul li{color:#aaa;text-indent:8px;}
.order_sure_box div ul li span{display:inline-block;float:left;}
.order_sure_box div ul li span.l_box{float:left;}
.order_sure_box div ul li span.r_box{float:right;}
.order_sure_box .btn{border-top:#e7e6e6 1px solid;text-align:right;}
.order_sure_box .btn form{float:right;width:150px;padding:0;margin:0;display:inline-block;}
.order_sure_box .btn a.back{margin-right:2em;color:#e10505;height:50px;line-height:50px;text-align:right;}
.order_sure_box .btn button.btn_3{width:150px;height:50px;line-height:50px;margin-top:0;float:right;border:0;}


/* 订单详情 */
.order_list_box{width:1250px;margin:0 auto;overflow:hidden;}
.order_list_box div h2{font-size:1.2em;padding:6px 0 10px 1.8em;margin:0 0 10px 0;border-bottom:#e7e6e6 1px solid;position:relative;background:url(../images/order_ico.png) no-repeat left top;}
.order_list_box div h2 i{font-style:normal;font-size:14px;color:#aaa;position:absolute;right:0;top:8px;}
.order_list_box .info_one{width:733px;float:left;border:#e7e6e6 1px solid;padding:10px;margin:10px 0;}
.order_list_box .info_one a{width:100%;height:100px;display:block;}
.order_list_box .info_two{width:463px;height:178px;float:right;border:#e7e6e6 1px solid;padding:10px;margin:10px 0;}
.order_list_box .info_two ul{width:100%;height:120px;overflow-y:auto;float:left;}
.order_list_box .info_two li{display:inline-block;width:100%;height:30px;line-height:30px;position:relative;}
.order_list_box .info_two li i{font-style:normal;color:#fd9936;position:absolute;right:0;top:0;}
.order_list_box dl,.order_list_box p{float:left;}
.order_list_box p{width:40%;}
.order_list_box p img{width:100%;float:left;}
.order_list_box dl.info{width:58%;height:156px;float:left;margin-left:2%;}
.order_list_box dl dd{float:right;width:100%;margin:5px 0;}
.order_list_box dl dd.tit{font-size:1.5em;}
.order_list_box dl dd.price{color:#d1001a;}
.order_list_box dl dd.price span{font-size:1.5em;}
.order_list_box dl dd.price del{font-size:1em;color:#aaa;margin-left:10px;}
.order_list_box .info_three{width:1228px;float:left;border:#e7e6e6 1px solid;padding:10px;margin-top:0;}
.order_list_box .info_three h2{ background-position:left -68px;}
.order_list_box .info_three ul{width:100%;float:left;overflow:hidden;}
.order_list_box .info_three li{width:99%;padding-left:1%;height:45px;line-height:45px;border-bottom:#eee 1px solid;float:left;display:inline-block;}
.order_list_box .info_three li.last{border:0;}
.order_list_box .info_three li span{display:inline-block;float:left;}
.order_list_box .info_three li span.l{width:8%;text-align:right;}
.order_list_box .info_three li span.r{width:92%;}
.order_list_box .info_no_num{width:1228px;}
.order_list_box .btn{text-align:right;border-left:#e7e6e6 1px solid;border-right:#e7e6e6 1px solid;border-bottom:#e7e6e6 1px solid;}
.order_list_box .btn a{padding:5px 0;width:130px;float:none;margin:10px;}



/* 我的 */
.user_center_box{width:1248px;margin:0 auto;padding:1em 0;overflow:hidden;}
.user_center_frame{margin:0 auto;overflow:hidden;text-align:center;border:#e7e6e6 1px solid;}
.user_center_frame .head_info{width:500px;margin:0 auto;overflow:hidden;padding:1em 0;}
.user_center_frame .head_info dt{width:207px;height:auto;overflow:hidden;position:relative;background:#fff;float:left;}
.user_center_frame .head_info dt img{width:88px;height:88px;border-radius:50px;}
.user_center_frame .head_info dt span{display:inline-block;width:88px;height:88px;border:#dcdcdc 2px solid;border-radius:50px;background:#fff;float:right;padding:2px;}
.user_center_frame .head_info dd{width:263px;padding-bottom:5px;float:right;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
.user_center_frame .head_info dd.tit{text-align:left;margin:5px 0;font-size:14px;}
.user_center_frame .head_info dd.tips{text-align:left;font-size:14px;height:88px;line-height:88px;}
.user_center_frame .head_info dd.tips a{text-decoration:underline;color:#fe950c;margin-left:3px;}
.user_center_frame .head_info dd.vip{padding-bottom:0;padding-top:10px;}
.user_center_frame .head_info dd.vip img{float:left;width:30%;}
.user_center_frame .my_info{clear:both;float:left;width:100%;}
.user_center_frame .my_info li{width:100%;border-top:#e7e6e6 1px solid;height:60px;line-height:60px;clear:both;position:relative;}
.user_center_frame .my_info li a{display:inline-block;width:660px;margin:0 auto;text-align:left;position:relative;}
.user_center_frame .my_info li a img{width:40px;margin-right:10px;vertical-align:middle;}
.user_center_frame .my_info li a span{position:absolute;right:0;top:0;font-size:0.875em;text-align:right;display:inline-block;width:150px;}
.user_center_frame .my_info li a span b{color:#ec261e;margin:0 5px;}
.user_center_frame .add_sj{width:640px;margin:1em auto;clear:both;background:#fff7d0;border:#e5dadb 1px solid;padding:10px;position:relative;}
.user_center_frame .add_sj ol{width:85%;list-style:disc;}
.user_center_frame .add_sj li{width:100%;text-align:left;font-size:14px;padding:3px 0;list-style:disc;margin-left:1.5em;}
.user_center_frame .add_sj a{position:absolute;right:10px;top:25%;display:inline-block;background:#fe950c;color:#fff;font-size:14px;width:80px;text-align:center;border-radius:3px;padding:8px 0;text-decoration:none;}
.user_center_frame .add_sj i{display:inline-block;position:absolute;left:60px;top:-16px;width:17px;display:inline-block;}
.user_center_frame .add_sj i img{width:100%;}
/*填写申请表单*/
.sj_db_list{width:90%;margin:0 auto;overflow:hidden;padding:0;}
.user_center_frame .db_title{padding:1em 0;}
.sj_db_list .db_group{width:100%;float:left;margin:8px 0;}
.sj_db_list .db_group label{float:left;padding:0;margin:0;text-align:right;width:20%;height:35px;line-height:35px;}
.sj_db_list .db_group input{float:left;text-align:left;border:#ccc 1px solid;width:70%;padding:0 5px;box-sizing:border-box;height:35px;line-height:35px;border-radius:4px;}
.sj_db_list .db_group select{border:#ccc 1px solid;width:25%;float:left;text-align:left;height:35px;line-height:35px;border-radius:4px;}
.sj_db_list .db_group .t_box{width:70%;float:left;text-align:left;}
.sj_db_list .db_group .t_box textarea{border:#ccc 1px solid;width:100%;height:180px;padding:10px;float:left;box-sizing:border-box;border-radius:4px;}
.sj_db_list .db_group .t_box p{font-size:14px;width:100%;float:left;text-align:left;padding:10px 0;color:#aaa;}
.sj_db_list input.btn{border:0;background:#0092e7;color:#fff;font-size:16px;width:100px;text-align:center;border-radius:3px;padding:10px 0;margin:1em 0 2em 0;}
.sj_db_list .yz_tips{background:#fff7d0;border:#e5dadb 1px solid;padding:5px;clear:both;text-align:center;font-size:14px;color:#ba3901;width:80%;margin:0 auto;overflow:hidden;box-sizing:border-box;border-radius:4px;}
/*确定申请*/
.sj_db_check{width:90%;margin:0 auto;overflow:hidden;padding:0;}
.sj_db_check .c_title{width:516px;margin:0 auto;overflow:hidden;padding:1.5em 0;}
.sj_db_check .c_title img{float:left;width:100px;}
.sj_db_check .c_title div{float:right;width:400px;margin-top:1.2em;}
.sj_db_check .c_title div h2{margin-bottom:10px;}
.sj_db_check .c_title div *{text-align:left;}
.sj_db_check .faq{width:100%;float:left;border:#dcdcdc 1px solid;box-sizing:border-box;padding:10px;margin-bottom:2em;}
.sj_db_check .faq *{text-align:left;}
.sj_db_check .faq h3{padding:10px 0;border-bottom:#dcdcdc 1px solid;}
.sj_db_check .faq ol{width:95%;float:left;list-style:disc;margin-left:5%;}
.sj_db_check .faq li{width:100%;float:left;padding:10px 0;list-style:decimal;}
.sj_db_check .faq li p{font-size:14px;margin-top:5px;}
.sj_db_check .faq i{width:25px;display:inline-block;margin-right:5px;}
.sj_db_check .faq i img{width:100%;}




/* 切换城市 */
.city_box{border:#e7e6e6 1px solid;width:1248px;margin:0 auto;padding:0;overflow:hidden;}
.city_box .loaction{background:#eee;width:98%;border-bottom:#e7e6e6 1px solid;float:left;padding:0.5em 0 0.5em 2%;}
.city_box .loaction h2,.city_box .loaction i{float:left;display:inline-block;padding:0;margin:0;font-style:normal;}
.city_box .loaction h2{font-size:1em;height:30px;line-height:30px;}
.city_box .loaction i{font-size:1em;background:#48ace7;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#fff;padding:5px 8px;}
.city_box .city_list{clear:both;width:96%;margin:0 auto;overflow:hidden;padding-bottom:1em;}
.city_box .city_list h2{font-size:1em;width:100%;padding:0;margin:1em 0;float:left;}
.city_box .city_list ul{width:100%;float:left;}
.city_box .city_list li,.city_box .city_list li a{float:left;display:inline-block;}
.city_box .city_list li{margin:0 10px 10px 0;padding:10px 15px;border:#dcdcdc 1px solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;}
.city_box .city_list li:hover{border:#48ace7 1px solid;}
.city_box .city_list li a{font-size:0.875em;}
.city_box .city_list li:hover a{color:#48ace7;}


/*支付提示页面*/
.check_result{width:1250px;margin:10px auto 0 auto;overflow:hidden;}
.pay_right{width:100%;margin:0 auto;padding:2em 0;overflow:hidden;text-align:center;}
.pay_right .ls{float:left;width:40%;text-align:right;}
.pay_right img{width:116px;height:116px;}
.pay_right .rs{float:left;width:435px;text-align:left;margin:10px 0 0 20px;}
.pay_right .rs h2{font-size:1.5em;}
.pay_right .rs p{margin-top:12px;}
.pay_right .rs p span{margin-right:2em;}
.pay_right .rs p span i{font-size:1em;font-style:normal;font-weight:bold;color:#ec261e;}
.pay_right .rs p a{color:#0092e7;text-decoration:underline;margin-right:20px;}
.pay_right .rs p a.btn_3{text-decoration:none;margin-right:0;color:#fff;width:150px;margin-top:0;}
.pay_right .rs p.ct_btns{margin-top:2em;}
.pay_right .rs p.ct_btns a{width:120px;height:40px;line-height:40px;float:left;margin-right:2%;color:#fff;text-decoration:none;text-align:center;border-radius:3px;}
.pay_right .rs p.ct_btns a.b_1{background:#fd960d;}
.pay_right .rs p.ct_btns a.b_2{background:#48ace7;}
.pay_right .rs p.ct_btns a.b_3{background:#c4c4c4;color:#e8e8e8;}

/* 关注商户列表样式 */
.my_gz_list{width:600px;margin:0 auto;overflow:hidden;border:#dcdcdc 1px solid;text-align:center;padding:10px;}
.my_gz_list dl{width:100%;margin:0 auto;overflow:hidden;}
.my_gz_list dt{width:200px;float:left;}
.my_gz_list dt img{width:100%;}
.my_gz_list dd{float:left;width:380px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:20px;padding:0;}
.my_gz_list dd.tit{font-size:1.5em;margin-bottom:0.8em;}
.my_gz_list dd.yh{margin-bottom:0.7em;color:#ec261e;}
.my_gz_list dd.btn a{float:left;display:inline-block;width:100px;height:38px;text-align:center;line-height:38px;border-radius:3px;margin-right:10px;}
.my_gz_list dd.btn a.b_1{background:#ababab;color:#fff;}
.my_gz_list dd.btn a.b_2{background:#ed4a9f;color:#fff;}

/*浮动价格层*/
#mobile_class{display:none;}
#web_class{display:block;}

/*地图*/
.map_box{width:1250px;margin:0 auto;overflow:hidden;}
.map_box .top_box{margin:10px auto 1em auto!important;}
.map_page{padding:0!important;width:100%;height:100%;}
.map_page > div{width:100%!important;margin:0!important;}


/*蒲发专区*/
.zt_box .qukuai_tit h2{color:#003970;}
.zt_box .qukuai_tit{position:relative;border-bottom:#003970 4px solid;}
.zt_box .qukuai_tit i.dot{display:inline-block;position:absolute;left:0;bottom:-4px;height:4px;width:170px;background:#a60b2a;}
.zt_box .pd_box{background:none;}
.zt_box .pd_box dl{height:230px;border:#dcdcdc 1px solid;background:#f0f0f0;position:relative;}
.zt_box .pd_box dl:hover{border:#dcdcdc 1px solid;background:#fff;}
.zt_box .pd_box dt{width:100%;float:left;}
.zt_box .pd_box dd{width:78%;float:left;}
.zt_box .pd_box dd.title{font-size:1em;}
.zt_box .pd_box dd.btn{width:60px;background:#a60b2a;color:#fff;padding:8px 0;text-align:center;border-radius:4px;position:absolute;right:10px;bottom:15px;}

/*移动版*/
@media screen and (max-width:1250px) {
	/*列表页&详情页*/
	.sm_list_main{width:960px;}
	.list_name{width:938px;float:left;}
	.list_name .price{width:30%;}
	.list_que{width:938px;clear:both;}
	.list_frame dt{width:40%;}
	.list_frame dd{width:58%;}
	.yh_list dd{width:470px;}
	.yh_list dd .price{width:100%;}
	.yh_list dd .no_price{width:100%}
	.yh_list dd .no_price h2{width:100px;}
	.yh_list dd .no_price p{width:300px;}
	.yh_list dd.pdo_select ul li.p_1{width:40%;}
	.yh_list dd.pdo_select ul li.p_2{width:49%;}
	.yh_list dd .services{width:80%;}
	
	
	/*首页*/
	.sm_main{width:960px;}
	.top_box{width:960px;}
	.top_box .search{width:40%;}
	.top_box .tag{width:30%}
	.pd_box dt{height:174px;}
	.pd_box dt img{width:100%;}
	.top_box .search a{width:20%;}
	.top_box .search input{width:77%;}
	.adbox,.main_image,.main_image ul,.main_image li,.main_image li span,.main_image li a{width:100%;margin:0 auto;overflow:hidden;}
	.main_image{width:100%;height:100%;margin:0 auto;}
	.pd_box dl{width:286px;height:275px;}
	.sj_page .pd_box dl{height:275px;}
	
	
	/* 确认订单 */
	.order_box{width:958px;}
	.order_sure_box{width:958px;}
	.order_sure_box div{width:938px;}
	
	/* 我的订单__我的关注__消息盒子 */
	.more_list dd.all_b{top:10%;}
	.more_list dd.all_b a{margin-top:10px;}
	
	
	/* 订单详情 */
	.order_list_box{width:960px;}
	.order_list_box .info_one{width:606px;}
	.order_list_box .info_two{width:300px;height:156px;}
	.order_list_box .info_three{width:938px;}
	.order_list_box .info_three li span.l{width:10%;}
	.order_list_box .info_three li span.r{width:90%;}
	.order_list_box .info_no_num{width:938px;}
	.order_list_box .info_two ul{height:98px;}
	
	/* 我的 */
	.user_center_box{width:958px;}	
	
	/* 切换城市 */
	.city_box{width:958px;}
	.city_box .city_list li{margin:0 9px 9px 0;}
	
	/*搜索结果*/
	.search_tj_none{width:958px;}
	.search_tj_none .r_nr{width:68%;}
	
	/*支付提示页面*/
	.pay_right .rs{width:400px;}
	
	/*秒杀列表*/
	.ms_list .sp_list dl{width:286px;height:245px;}
	.ms_list .sp_list dt{height:174px;}
	.miaosha .sp_list dt{height:auto;}
	
	/*地图*/
	.map_box{width:960px;}
	
	/*支付提示*/
	.check_result{width:960px;}
	
	/*商家详情*/
	.list_name dd.yh_text p{width:94%;}
}

@media screen and (max-width:960px) {
	/*列表页&详情页*/
	.jt-container{padding:0!important;}
	.claer{display:none;}
	.sm_list_main{width:100%;padding:2.5em 0 4em 0;background:#eee;overflow:hidden;}
	.sm_list_main .qukuai_tit{margin-top:10px;width:96%;}
	.list_frame{float:left;border-bottom:#e7e6e6 1px solid;border-top:0;border-left:0;border-right:0;padding:0;height:100%;margin-top:0;}
	.list_frame dt{font-size:1.5em;height:100%;}
	
	
	.list_name{width:96%;margin:8px auto 0 auto;overflow:hidden;float:none;background:#fff;}
	.list_name img{width:100%;height:100%;}
	.list_name .star_box{width:28%;margin-right:0;}
	.list_name .price{width:32%;margin-right:0;}
	.list_name .num{width:38%;}
	.list_name .map{float:left;width:75%;padding-top:10px;padding-bottom:10px;border:0;}
	.list_name .phone{float:right;width:35px;padding:0;height:35px;overflow:hidden;border-left:#dcdcdc 1px solid;margin:0 10px 0 0;padding:10px 0 10px 10px;border-bottom:0;}
	.list_name .phone i{width:35px;height:35px;overflow:hidden;}
	.list_name .map i{width:20px;height:20px;}
	.list_name .star_box ul{float:left;margin:2px 5px 0 0;}
	.list_name .star_box li{background-size:100%;width:14px;height:14px;}
	.list_name .star_box li a{width:14px;height:14px;line-height:14px;}
	.list_name .star_box li.on{background-position:left -25px;}
	.list_name dt{width:100%;max-height:250px;overflow:hidden;}
	.list_name dd{float:left;width:96%;padding:5px 2%;font-size:0.9em;}
	.list_name dd.t_name{padding-top:5px;}
	.list_name dd.yh_text p{width:90%;}
	.list_name dd.yh_text h4{padding:1px 2px;font-size:0.8em;}
	
	.list_que{width:92%;padding:0 2%!important;padding:0;margin:10px auto 0 auto;overflow:hidden;float:none;background:#fff;}
	.list_que .p_list{padding:5px 0;background:url(../images/arrow_right.jpg) no-repeat right center;background-size:10px;}
	.list_que p.c_1{width:90%;margin-right:0;margin-top:3px;font-size:1em;float:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.list_que p.c_2{width:auto;margin-right:0;margin-left:1.8em;}
	.list_que p.c_3{width:auto;float:right;margin-right:2em;}
	.list_que button{display:none;}
	.list_que h4{padding:1px 2px;font-size:0.8em;}
	.list_xq{width:92%;padding:0 2% 10px 2%!important;margin:0 auto;overflow:hidden;float:none;background:#fff;}
	.list_xq h2{padding:8px 0;height:auto;line-height:100%;background:#eee;text-indent:0.5em;font-size:0.9em;}
	.sh_page{padding-bottom:4em;}
	.sh_page .qukuai_tit{width:92%;margin:10px auto 0 auto;float:none;overflow:hidden;}

	
	.more_list{border-bottom:#e7e6e6 1px solid;border-top:0;border-left:0;border-right:0;margin-bottom:0;}
	.more_list dt{width:30%;max-height:80px;}
	.more_list dd.tit{font-size:0.875em;font-weight:bold;}
	.more_list dd{font-size:0.75em;width:68%;}
	.more_list dd.map{width:20%;}
	.yh_list{padding:0;border:0;width:96%;margin:0 auto;overflow:hidden;}
	.yh_list dl{padding-bottom:0;margin-top:2%;}
	.yh_list dl,.yh_list div{background:#fff;}
	.yh_list dt{width:100%;max-height:250px;overflow:hidden;}
	.yh_list dt img{width:100%;height:auto;}
	.yh_list dd{width:96%;padding:0 2%;}
	.yh_list dd h1{font-size:1.2em;}
	.yh_list dd del{font-size:0.9em;color:#aaa;}
	.yh_list dd p{font-size:0.8em;}
	.yh_list dd.mc{margin-top:5px;float:left;}
	.yh_list dd.jg{width:100%;padding:0;}
	.yh_list dd.jg ul{width:96%;margin:0 auto;float:none;overflow:hidden;}
	.yh_list dd .price{width:100%;float:left;border-bottom:#eee 1px solid;margin-top:0;}
	.yh_list dd .price h2{font-size:1.5em;margin-left:2%;}
	.yh_list dd .services{width:100%;float:left;margin-top:0;padding-bottom:5px;}
	.yh_list dd .services li{width:50%;margin:3px 0 8px 0;}
	.yh_list dd .no_price,.yh_list dd .no_price h2,.yh_list dd .no_price p{width:100%}
	.yh_list dd.sub{display:none;}
	.yh_list dd .price a.btn_3{margin-top:0;margin-right:2%;float:right;width:35%;height:auto;line-height:100%;padding:8px 0;display:block;background:#f60;}
	.yh_list .detail_main{width:96%;padding:0 2%;margin:0 auto;overflow:hidden;float:none;}
	.yh_list .detail_main li{width:92%;margin-left:8%;font-size:0.8em;color:#7b7b7b;}
	.yh_list .detail_main td{color:#7b7b7b;}
	.yh_list .detail_main h2{padding:0;height:auto;line-height:100%;margin:1em 0 5px 0;font-size:1em;background:none;text-indent:0;}
	.yh_list .detail_main p{margin:5px 0;font-size:0.8em;color:#7b7b7b;}
	.yh_list dd.pdo_select{border-bottom:0;}
	.yh_list dd.pdo_select ul li{margin:0;border-bottom:#eee 1px solid;padding:10px 0;}
	.yh_list dd.pdo_select ul li.p_1,.yh_list dd.pdo_select ul li.p_2{width:100%;float:left;}
	.yh_list dd.pdo_select ul li.p_2{font-size:0.9em;}
	.yh_list .sj_info,.yh_list .other_yh{width:96%;padding-left:2%;padding-right:2%;}
	.yh_list .sj_info .address{width:70%;float:left;font-size:0.9em;}
	.yh_list .sj_info .address p strong{font-size:1em!important;}
	.yh_list .sj_info .address p.map{display:block;}
	.yh_list .sj_info .address p.map b{background:url(../images/map.jpg) no-repeat left top;background-size:100%;display:inline-block;width:12px;height:14px;vertical-align:middle;margin-right:2px;}
	.yh_list .sj_info .address p.map i{font-style:normal;background:#aaa;color:#fff;border-radius:4px;margin-left:10px;display:inline-block;padding:2px;text-indent:0;font-size:0.9em!important;}
	.yh_list .other_yh,.yh_list .other_yh a,.yh_list .other_yh h4{font-size:0.9em!important;}
	.yh_list .other_yh ul li{margin:0.3em 0;}
	.yh_list .sj_info .phone{float:right;width:35px;padding:20px 0;display:block;}
	.yh_list .sj_info .phone img{width:100%;}
	.ct_num_ctrl span,.yh_list dd.pdo_select ul li.mob_num{font-size:0.9em;}
	

	/*首页*/
	.sm_main{width:100%;padding:4.5em 0 3.2em 0;background:#eee;}
	.home_page{padding:2.5em 0 3.2em 0;}
	.sp_page .pd_box{margin-top:10px;}
	.pd_box{background:#eee;padding:0;height:auto;}
	.pd_box dl{width:92%;height:auto!important;padding:5px 2%;border:0;background:#fff;border-bottom:#e7e6e6 1px solid;margin:0 auto;float:none;overflow:hidden;}
	.pd_box dl:hover{background:#fff;border-bottom:#e7e6e6 1px solid;border-top:0;border-left:0;border-right:0;}
	.pd_box dt{width:37%;min-height:73px;height:auto;overflow:hidden;float:left;}
	.pd_box dt span{padding:2px 0;}
	.pd_box dt img{width:100%;height:auto;}
	.pd_box dd{width:60%;float:right;margin-top:0;font-size:0.8em;padding:0 0 3px 0;color:#ababab;}
	.pd_box dd .label i{font-size:0.8em;padding:2px;}
	.pd_box dd.tit{font-size:0.9em;}
	.pd_box dd.pl .star_box{height:auto;}
	.pd_box dd.price b{font-size:1.5em;}
	.pd_box dd.price del{margin-top:6px;}
	.pd_box dd.price div{margin-top:3px;}
	.top_box{display:none;}
	
	
	.nav_box{border:0;height:35px;width:100%;margin:0 auto;position:fixed;left:0;top:38px;display:none;}
	.sj_page .nav_box{display:block;}
	#nav{height:35px;background:#e5e5e5;}
	#nav li.top img{display:none;}
	#nav li.me{display:none;}
	#nav li.map{display:none;}
	#nav li.home{display:none;}
	#nav li.top{width:33.33%;height:35px;float:left;font-size:0.9em;}
	#nav li.top a{width:100%;height:35px;line-height:35px;float:left;font-size:1em;}
	#nav li:hover ul.sub{width:100%;}
	#nav li.top .sub li{width:100%;}
	#nav li.top .sub li a{height:20px;line-height:20px;}
	#nav li a.top_link span{height:35px;}
	#nav li:hover ul.sub{top:35px;padding:0;border:0;}
	#nav li:hover ul.sub li,#nav li:hover ul.sub li a{width:100%;}
	#nav li:hover li:hover ul,
	#nav li:hover li:hover li:hover ul,
	#nav li:hover li:hover li:hover li:hover ul,
	#nav li:hover li:hover li:hover li:hover li:hover ul{left:100%;padding:0;width:100%;}
	#nav li:hover li:hover a.fly,
	#nav li:hover li:hover li:hover a.fly,
	#nav li:hover li:hover li:hover li:hover a.fly,
	#nav li:hover li:hover li:hover li:hover li:hover a.fly{background:#f0f0f0 url(../images/dh_arrow.gif) no-repeat 95% 8px;color:#555;}
	#nav li:hover li:hover li a.fly,
	#nav li:hover li:hover li:hover li a.fly,
	#nav li:hover li:hover li:hover li:hover li a.fly{background:#fff url(../images/dh_arrow.gif) no-repeat 95% 8px;;color:#999;}
	#nav li ul.sub li a.fly{background:#fff url(../images/dh_arrow.gif) no-repeat 95% 8px;position:relative;}
	#nav li:hover ul.sub li a.fly:hover{background:#f0f0f0 url(../images/dh_arrow.gif) no-repeat 95% 8px; color:#555;}
	#nav li a.top_link span {display:block;background:url(../images/dh_arrow_2.gif) no-repeat 90% center;}
	#nav li a.top_link span.down {display:block;background:url(../images/dh_arrow_1.gif) no-repeat 90% center;}
	#nav li:hover a.top_link span {display:block;background:url(../images/dh_arrow_1.gif) no-repeat 90% center;}
	#nav li:hover a.top_link span.down {display:block;background:url(../images/dh_arrow_2.gif) no-repeat 90% center;}
	
	.bt_nav_mob{display:block;width:100%;position:fixed;bottom:0;left:0;background:#f5f5f5;border-top:#dcdcdc 1px solid;padding:3px 0;z-index:9999;}
	.bt_nav_mob ul{padding:0;margin:0;list-style:none;}
	.bt_nav_mob li{width:33.333%;display:inline-block;float:left;}
	.bt_nav_mob li.current span{color:#fe950c;}
	.bt_nav_mob li span{width:100%;display:block;text-align:center;font-size:0.8em;}
	.bt_nav_mob li span.shop{background:url(../images/sj_ico.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	.bt_nav_mob li.current span.shop{background:url(../images/sj_ico_s.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	.bt_nav_mob li span.home{background:url(../images/index_ico.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	.bt_nav_mob li.current span.home{background:url(../images/index_ico_s.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	.bt_nav_mob li span.my{background:url(../images/my_ico.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	.bt_nav_mob li.current span.my{background:url(../images/my_ico_s.png) no-repeat center center;background-size:100%;width:22px;height:22px;margin:0 auto 2px auto;}
	
	
	.top_nav_mob{
		width:100%;
		padding:5px 0;
		position:fixed;
		top:0;
		left:0;
		background:#fe950c;
		z-index:9999;
		display:inline-block;
		/* Firefox */
		display:-moz-box;
		-moz-box-orient:horizontal;
		/* Safari, Opera, and Chrome */
		display:-webkit-box;
		-webkit-box-orient:horizontal;
		/* W3C */
		display:box;
		box-orient:horizontal;
	}
	.top_nav_mob .nav-wrap-left{padding:3px 0;}
	.top_nav_mob .nav-wrap-left img{width:45px;}
	.top_nav_mob .nav-wrap-left a{color:#fff;margin:0 0 0 0.5em;font-size:1em;}
	.top_nav_mob .nav-wrap-left a.back img{width:100%;}
	.top_nav_mob .nav-wrap-left a.back{width:13px;display:inline-block;}
	.top_nav_mob .nav-wrap-left i{display:inline-block;background:url(../images/arrow_down.png) no-repeat left center;background-size:100%;width:8px;height:8px;margin:0 0 0 5px;}
	.top_nav_mob .box-search{-webkit-box-flex:1.0;-moz-box-flex:1.0;box-flex:1.0;text-align:center;}
	.top_nav_mob .box-search .input_box{width:75%;position:relative;margin-left:20px;}
	.top_nav_mob .box-search .input_box input{border:0;display:inline-block;width:100%;border-radius:20px;background:#fff;padding:6px 0;text-align:left;font-size:0.8em;color:#aaa;padding-left:30px;}
	.top_nav_mob .box-search .input_box i{position:absolute;width:13px;height:16px;display:block;background:url(../images/search_2.png) no-repeat left center;background-size:100%;left:10px;top:6px;}
	.top_nav_mob .box-search a{display:inline-block;width:80%;border-radius:20px;background:#c87400;padding:6px 0;text-align:left;font-size:0.8em;color:#e4b472;position:relative;}
	.top_nav_mob .box-search a i{position:absolute;width:13px;height:16px;display:block;background:url(../images/search.png) no-repeat left center;background-size:100%;left:10px;}
	.top_nav_mob .box-search span{margin-left:2.5em;}
	.top_nav_mob .nav-wrap-right{padding:3px 0 5px 0;}
	.top_nav_mob .nav-wrap-right a{margin:0.1em 0.5em 0 0;width:20px;height:20px;display:block;background:url(../images/map_ico.png) no-repeat left center;background-size:100%;}
	.top_nav_mob .nav-wrap-right a.btn{background:none;color:#fff;width:40px;height:auto;margin-top:0;text-align:center;font-size:1.2em;}
	.top_nav_mob .main_titles{text-align:left;color:#fff;width:100%;padding:3px 0;font-size:1.2em;}
	.top_nav_mob .main_titles a{width:13px;display:inline-block;margin:0 5% 0 2%;float:left;}
	.top_nav_mob .main_titles a img{width:100%;vertical-align:bottom;}
		
	.adbox{height:100%;width:96%;margin:8px auto;overflow:hidden;}
	.main_image,.main_image ul,.main_image li,.main_image li span,.main_image li a,.main_image li a img{width:100%;margin:0 auto;overflow:hidden;}
	.main_image{width:100%;height:auto;min-height:250px;margin:0 auto;}
	#btn_prev,#btn_next{display:none!important;}
	.flicking_con a{width:4px;height:4px;margin-left:3px;}
	.flicking_inner{height:4px;bottom:20px;width:100%;margin:0 auto;}
	
	
	/* tab标签 */
	.sm_list_tab{margin-bottom:1em;}
	.sm_list_tab li a{padding:10px 0;}
	
	/*星级评分*/
	.star_box,.star_box2{margin-top:0;}
	.star_box li{background-size:100%;width:13px;height:13px;}
	.star_box li a{width:13px;height:13px;line-height:13px;}
	.star_box li.on{background-position:left -23px;}
	
	/* 我的订单__我的关注__消息盒子 */
	.more_list dd.pay{width:18%;top:auto;bottom:0;right:0;}
	.more_list dd.pay button{padding:10px 0;}
	.more_list dd.sl,.more_list dd.zj{width:40%;margin-right:2%;}
	.more_list dd.zj i{color:#d1001a;font-style:normal;}
	.more_list dd.all_b{top:auto;bottom:0;right:2px;width:18%;}
	.more_list dd.all_b a{padding:8px 0;}
	.more_list dd.all_b a.b_2{margin-top:8px;}
	.gz_frame_box{padding-bottom:3em;}
	.gz_frame_box .sm_list_main{padding-bottom:0;}
	.sm_list_main .my_gz dd.tit{margin-top:4%;float:left;margin-left:2%;width:40%;}
	.more_list dd.all_b a{display:inline-block;width:100%;height:100%;padding:15px 0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
	.more_list dd.all_b a.b_1{margin-top:0;padding:10px 0;}
	.more_list dd.all_b a.b_2{display:none;}
	.dt_list dl div{width:68%;}
	
	/* 确认订单 */
	.order_box{width:100%;}
	.order_sure_box{width:100%;height:100%;overflow:hidden;border:0;background:#eee;padding:2.5em 0 2em 0;}
	.order_sure_box div{width:96%;padding:0;margin:0 auto;background:#fff;}
	.order_sure_box div h2{font-size:1em;margin:0;font-weight:normal;width:100%;padding-right:0;color:#000;}
	.order_sure_box div ul{width:100%;margin:0 auto;float:none;}
	.order_sure_box div ul li{width:100%;padding:0.5em 0;border-bottom:#e7e6e6 1px solid;font-size:0.9em;height:30px;line-height:30px;color:#555;}
	.order_sure_box div ul li span.l_box{float:left;width:58%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-left:8px;}
	.order_sure_box div ul li span.r_box{float:right;margin-right:8px;width:36%;text-align:right;}
	.order_sure_box .btn{margin-top:0;padding:1em 0;border:0;background:#eee;}
	.order_sure_box .btn a.back{float:left;margin:0;width:30%;text-align:right;height:50px;line-height:50px;}
	.order_sure_box .btn form{width:100%;margin:0;}
	.order_sure_box .btn button.btn_3{width:100%;float:left;margin-top:0;font-size:1em;}
	
	
	/* 订单详情 */
	.order_list_box p{width:40%}
	.order_list_box dl.info{width:55%;height:auto;}
	.order_list_box dl dd.tit{font-size:1em;}
	.order_list_box{width:100%;padding-bottom:3.5em;}
	.order_list_box .info_one{width:96%;padding:2%;border:0;margin-bottom:0;margin-top:2.5em;}
	.order_list_box .info_two{width:100%;height:100%;padding:0;border:0;}
	.order_list_box .info_three{width:100%;height:100%;padding:0;border:0;margin-top:1em;}
	.order_list_box .info_two ul{width:90%;margin:0 auto;float:none;height:100%;overflow:inherit;}
	.order_list_box .info_three li span.l{width:40%;text-align:left;}
	.order_list_box .info_three li span.r{width:60%;}
	.order_list_box div h2{background:#eee url(../images/order_ico.png) no-repeat 10px 3px;padding:10px 3em;font-size:1em;font-weight:bold;}
	.order_list_box div h2 i{top:14px;}
	.order_list_box .info_three h2{background-position:10px -64px;}
	.order_list_box .info_three ul{width:90%;margin:0 auto;float:none;}
	.order_list_box dl dd.price span{font-size:1em;}
	.order_list_box dl dd{margin:2px 0;}
	.order_list_box .info_no_num{width:100%;}
	.order_list_box .btn{text-align:center;border:0;}
	.order_list_box .btn a{width:96%;margin:20px auto 0 auto;float:none;}
	#content_4{top:40%;}

	
	/* 我的 */
	.user_center_box{width:100%;padding:2.5em 0 3em 0;}
	.user_center_frame{width:95%;border:0;}
	.user_center_frame .head_info{width:100%;padding:10px 0;}
	.user_center_frame .head_info dt{width:38%;height:auto;}
	.user_center_frame .head_info dt img{width:76px;height:76px;}
	.user_center_frame .head_info dt span{width:76px;height:76px;}
	.user_center_frame .head_info dd{width:57%;font-size:0.9em;color:#aaa;}
	.user_center_frame .head_info dd.tit{margin-bottom:0;font-size:1em;color:#555;}
	.user_center_frame .head_info dd.tips{height:76px;line-height:76px;}
	.user_center_frame .head_info dd.vip{padding-top:0;}
	.user_center_frame .head_info dd.vip img{width:70px;}
	.user_center_frame .my_info li{background:url(../images/arrow_right.jpg) no-repeat right 15px;background-size:10px;height:auto;line-height:100%;padding:0;}
	.user_center_frame .my_info li a{width:96%;padding:8px 0;font-size:1em;}
	.user_center_frame .my_info li a img{width:30px;}
	.user_center_frame .my_info li a span{width:45%;text-align:left;padding:12px 0 0 0;color:#aaa;}
	.user_center_frame .add_sj{width:100%;box-sizing:border-box;}
	.user_center_frame .add_sj li{font-size:0.8em;width:80%;padding:2px 0;color:#8c8c8c;}
	.user_center_frame .add_sj i{display:inline-block;position:absolute;left:60px;top:-16px;width:17px;display:inline-block;}
	.user_center_frame .add_sj a{width:70px;padding:8px 0;}
	/*填写申请表单*/
	.sj_db_list{width:100%;}
	.user_center_frame .db_title{padding:1em 0;font-size:1.1em;}
	.sj_db_list .db_group{margin:5px 0;}
	.sj_db_list .db_group label{width:28%;clear:both;}
	.sj_db_list .db_group input{width:70%;font-size:0.9em;}
	.sj_db_list .db_group select{width:70%;font-size:0.9em;}
	.sj_db_list .db_group select.layout_space{margin-bottom:10px;}
	.sj_db_list .db_group .t_box{width:70%;}
	.sj_db_list .db_group .t_box textarea{width:100%;height:100px;padding:5px;font-size:0.9em;}
	.sj_db_list .db_group .t_box p{font-size:0.8em;padding:5px 0;}
	.sj_db_list input.btn{font-size:1.3em;width:100%;margin:0.5em 0;}
	.sj_db_list .yz_tips{width:100%;}
	/*确定申请*/
	.sj_db_check{width:100%;;}
	.sj_db_check .c_title{width:100%;}
	.sj_db_check .c_title img{width:60px;}
	.sj_db_check .c_title div{float:left;width:75%;margin-top:0;margin-left:5%;}
	.sj_db_check .c_title div h2{margin-bottom:5px;font-size:1.2em;}
	.sj_db_check .c_title div p{font-size:0.9em;word-wrap:break-word;}
	.sj_db_check .faq{padding:8px;}
	.sj_db_check .faq ol{margin-left:8%;width:92%;}
	.sj_db_check .faq li{padding:5px 0;}
	.sj_db_check .faq li h4{font-size:0.9em;}
	.sj_db_check .faq li p{font-size:0.9em;color:#a1a1a1;}
	.sj_db_check .faq h3{padding:5px 0;font-size:1em;margin-bottom:5px;}
	.sj_db_check .faq i{width:20px;}

	
	
	

	/* 切换城市 */
	.city_box{width:100%;border:0;}
	.city_box .city_list li{margin:0 7px 7px 0;padding:8px 10px;}
	.city_box .city_list{padding-bottom:0;}
	
	
	/*错误页面*/
	.error_box{width:100%;}
	.error_box .er_l{width:100%;text-align:center;}
	.error_box .er_l img{width:50%;}
	.error_box .er_r{position:static;width:100%;float:left;text-align:center;}
	.error_box .er_r h2{font-size:1em;margin-bottom:2em;}
	.error_box .er_r ul{text-align:center;}
	.error_box .er_r ul li{float:none;margin:0 20px;}
	.error_box .er_r ul li a{float:none;}

	/*搜索结果*/
	.search_list_page{padding-top:3em;padding-bottom:3.5em;}
	.search_tj_view{margin:0 auto;width:96%;border-left:0;border-right:0;border-top:0;border-bottom:#dcdcdc 1px solid;padding:8px 0;text-indent:10px;font-size:0.9em;}
	.search_tj_none{width:100%;border-left:0;border-right:0;border-top:0;padding:0 0 0.5em 0;}
	.search_tj_none .l_ico{width:22%;}
	.search_tj_none .l_ico img{width:35px;}
	.search_tj_none .r_nr{width:73%;float:left;margin-left:3%;margin-right:2%;}
	.search_tj_none .r_nr h1{font-size:0.9em;}
	.search_tj_none .r_nr ol{margin-top:0;overflow:hidden;}
	.search_tj_none .r_nr li{font-size:0.8em;line-height:100%;margin-top:5px;color:#8a8a8a;}
	.tj_shop{width:96%;padding:0;margin:0 auto;float:none;overflow:hidden;border-bottom:0;}
	.tj_shop h1{clear:both;width:100%;float:left;border-bottom:#dcdcdc 1px solid;padding:8px 0;background:#fff;font-size:1em;text-indent:10px;}
	
	/*关键字搜索页面*/
	.hot_key{width:100%;height:100%;padding-top:3em;overflow:hidden;background:#eee;}
	.hot_key h4{width:96%;margin:10px auto;overflow:hidden;color:#fe950c;}
	.hot_key ul{width:96%;margin:0 auto;overflow:hidden;border-left:#dcdcdc 1px solid;border-top:#dcdcdc 1px solid;box-sizing:border-box;}
	.hot_key ul li{width:33.33%;border-right:#dcdcdc 1px solid;border-bottom:#dcdcdc 1px solid;box-sizing:border-box;background:#fff;float:left;text-align:center;font-size:0.9em;}
	.hot_key ul li a{width:95%;display:inline-block;padding:10px 0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
	
	/*支付提示页面*/
	.pay_right{padding:3.5em 0 1em 0;}
	.pay_right .ls{width:100%;text-align:center;}
	.pay_right .rs{width:100%;text-align:center;margin:10px 0 0 0;}
	.pay_right .rs p{width:100%;margin:12px auto 0 auto;text-align:center;}
	.pay_right .rs p span{margin:10px auto 0 auto;width:100%;display:inline-block;text-align:center;border-bottom:#dcdcdc 1px solid;padding-bottom:10px;}
	.pay_right .rs p a.btn_3{width:98%;margin:10px auto 0 auto;float:none;padding:5px 0;}
	.pay_right .rs p.ct_btns a{width:48%;float:left;margin:0 1%;}
	
	/* 关注商户列表样式 */
	.my_gz_list{width:100%;margin:0;overflow:hidden;border-top:#dcdcdc 1px solid;border-bottom:#dcdcdc 1px solid;border-left:0;border-right:0;padding:1em 0 3.5em 0;}
	.my_gz_list dl{width:95%;margin:0 auto;}
	.my_gz_list dt{width:40%;min-width:30%;text-align:right;}
	.my_gz_list dt img{width:100%;}
	.my_gz_list dd{width:55%;float:right;margin-left:0;}
	.my_gz_list dd.tit{font-size:1.5em;margin-bottom:0.5em;}
	.my_gz_list dd.yh{margin-bottom:0;color:#ec261e;overflow:auto;white-space:normal;font-size:0.8em;}
	.my_gz_list dd.btn{width:100%;float:left;margin:1em auto 0 auto;text-align:center;}
	.my_gz_list dd.btn a{margin-right:0;float:none;margin-right:2%;width:48%;height:auto;}
	
	/*秒杀*/
	.qukuai_tit{padding:8px 2%;background:#fff;width:97%;}
	.qukuai_tit h2{font-size:1em;height:25px;line-height:25px;}
	.qukuai_tit h2 i{width:25px;height:25px;}
	.qukuai_tit .zs{font-size:0.8em;height:25px;line-height:25px;}
	.qukuai_tit .haveday{float:left;margin-left:1.5em;}
	.qukuai_tit .haveday i{font-style:normal;height:25px;line-height:25px;}
	.qukuai_tit .haveday span{width:25px;height:25px;line-height:25px;margin:0 3px;font-size:0.8em;vertical-align:top;}
	.qukuai_tit a{font-size:0.9em;height:25px;line-height:25px;}
	.center_title{width:96%;margin:8px auto 0 auto;float:none;clear:both;overflow:hidden;}
	
	.miaosha{width:96%;margin:0 auto;background:#fff;}
	.miaosha .sp_list{padding:8px 0;}
	.miaosha .sp_list dl{width:33.33%;padding:0 8px;}
	.miaosha .sp_list dt{height:auto;}
	.miaosha .sp_list dl.pd_4{display:none;}
	.miaosha .sp_list dl.pd_3{border-right:#fff 1px solid;}
	.miaosha .sp_list dd{font-size:0.9em;}
	.miaosha .sp_list dd.price i{font-size:0.75em;margin-top:0;}
	.miaosha .sp_list dd.price .label i{border:0;padding:0;color:#fe950c;font-size:1.2em;}
	.miaosha .sp_list dd.price b{padding:2px 0;}
	
	/*秒杀列表*/
	.ms_list{border-bottom:0;margin-top:10px;}
	.ms_list .sp_list{padding:0;}
	.ms_list .sp_list dl{width:96%;height:auto!important;padding:5px 2%;border:0;background:#fff;border-bottom:#e7e6e6 1px solid;margin:0 auto;float:none;overflow:hidden;}
	.ms_list .sp_list dl:hover{background:#fff;border-bottom:#e7e6e6 1px solid;border-top:0;border-left:0;border-right:0;}
	.ms_list .sp_list dl dt{width:37%;min-height:73px;height:auto;overflow:hidden;float:left;}
	.ms_list .sp_list dl dd{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 0 3px 0;width:60%;float:right;margin-top:0;}
	.ms_list .sp_list dl dd.price{margin-top:10px;}
	
	/*隐藏头尾*/
	.jt-mod-mobileFake-header,.jt-header,.jt-nav,.jt-navBoxUser,.jt-container,.jt-show-xs,.jt-footer{display:none!important;}
	
	/*浮动价格层*/
	#mobile_class{display:block;}
	.shadow{background:#f5f5f5!important;border-bottom:#dcdcdc 1px solid!important;padding-bottom:5px!important;}
	.shadow h2{margin-left:10px;}
	.shadow a{margin-right:10px;}
	#web_class{display:none;}
	
	/*地图*/
	.map_page > div{margin-top:2.2em!important;}
	.map_box{width:100%;padding-bottom:3em;}
	
	/*按钮*/
	.btn_1{width:48%;height:auto;line-height:100%;padding:12px 0;font-size:0.9em;}	
	.btn_2{width:48%;height:auto;line-height:100%;padding:11px 0;font-size:0.9em;}
	
	/*加载更多样式*/
	.yi-load-more{clear:both;background:#eee;border-top:#dcdcdc 1px solid;}
	
	/*回顶部*/
	#jt-totop{bottom:45px!important;}
	
	/*蒲发专区*/
	.zt_box .sm_main{padding-top:3em;}
	.zt_box .top_nav_mob{background:#003970;}
	.zt_box .qukuai_tit{display:none;}
	.zt_box .pd_box dl{height:auto;background:#fff;padding:5px;margin-bottom:8px;position:relative;}
	.zt_box .pd_box dl:hover{border:#dcdcdc 1px solid;background:#fff;}
	.zt_box .pd_box dt{width:100%;float:left;max-height:250px;overflow:hidden;}
	.zt_box .pd_box dd{width:78%;}
	.zt_box .pd_box dd.title{font-size:1em;color:#003970;margin-top:5px;}
	.zt_box .pd_box dd.btn{width:60px;background:#a60b2a;right:5px;bottom:10px;}
	
	/*拨号弹窗*/
	.phone_win{padding:0;border:0;text-align:center;width:95%;}
	.phone_win .phones_num{font-size:1.3em;border-bottom:#dcdcdc 1px solid;width:100%;display:inline-block;padding:10px 0;color:#f60}
	.phone_win .btn_3{background:#fff;color:#000!important;margin-top:0;font-size:1.3em;padding:5px 0;}
}

@media screen and (max-width:480px) {
	.main_image{width:100%;height:auto;min-height:150px;margin:0 auto;}
	.yh_list dt{width:100%;max-height:150px;overflow:hidden;}
	.list_name dt{width:100%;max-height:150px;overflow:hidden;}
	.zt_box .pd_box dt{width:100%;max-height:150px;overflow:hidden;}
}