@charset "utf-8";
/* CSS Document */

/*列表页&详情页*/
.sm_list_main{width:960px;}
.list_name{width:938px;float:left;}
.list_name .price{width:30%;}
.list_que{width:938px;clear:both;}
.list_frame dt{width:40%;}
.list_frame dd{width:58%;}
.yh_list dd{width:470px;}
.yh_list dd .price{width:100%;}
.yh_list dd .no_price{width:100%}
.yh_list dd .no_price h2{width:100px;}
.yh_list dd .no_price p{width:300px;}
.yh_list dd.pdo_select ul li.p_1{width:40%;}
.yh_list dd.pdo_select ul li.p_2{width:49%;}
.yh_list dd .services{width:80%;}


/*首页*/
.sm_main{width:960px;}
.top_box{width:960px;margin:0 auto 1em auto;}
.top_box{background:url(../images/new_year/web_top_mainbg_min.jpg) no-repeat left bottom;}
.top_box .search{width:40%;}
.top_box .tag{width:30%}
.pd_box dt{height:174px;}
.pd_box dt img{width:100%;height:180px;}
.top_box .search a{width:20%;}
.top_box .search input{width:77%;}
.adbox,.main_image,.main_image ul,.main_image li,.main_image li span,.main_image li a{width:100%;margin:0 auto;overflow:hidden;}
.main_image{width:100%;height:100%;margin:0 auto;}
.pd_box dl{width:286px;height:275px;}
.sj_page .pd_box dl{height:265px;}


/* 确认订单 */
.order_sure_box{width:958px;}
.order_sure_box div{width:938px;}

/* 我的订单__我的关注__消息盒子 */
.more_list dd.all_b{top:10%;}
.more_list dd.all_b a{margin-top:10px;}


/* 订单详情 */
.order_list_box{width:960px;}
.order_list_box .info_one{width:606px;}
.order_list_box .info_two{width:300px;height:156px;}
.order_list_box .info_three{width:938px;}
.order_list_box .info_three li span.l{width:10%;}
.order_list_box .info_three li span.r{width:90%;}
.order_list_box .info_no_num{width:938px;}

/* 我的 */
.user_center_box{width:958px;}
.user_center_frame{width:830px;}	

/* 切换城市 */
.city_box{width:958px;}
.city_box .city_list li{margin:0 9px 9px 0;}

/*搜索结果*/
.search_tj_none{width:958px;}
.search_tj_none .r_nr{width:68%;}

/*支付提示页面*/
.pay_right .rs{width:400px;}

/*秒杀列表*/
.ms_list .sp_list dl{width:286px;height:245px;}