/*web版*/

/*头部导航*/
.top_box{margin:0 0 10px 0;background:url(../images/new_year/web_top_mainbg.jpg) no-repeat left bottom;padding:10px 0;}
.nav_box{border-top:0;border-left:0;border-bottom:#f7c202 4px solid;height:60px;}
#nav{background:url(../images/new_year/web_top_bg.jpg) no-repeat left top;height:60px;}
#nav li.top{padding-top:10px;}
#nav li.me{padding-top:0;}
#nav li.me a.top_link span,#nav li:hover.me a.top_link span{margin-top:5px;color:#f00;}
#nav li.top img{width:35px;height:35px;}
#nav li.me img{width:45px;height:45px;}
#nav li:hover a.top_link{background:none;}
#nav li a.top_link span,#nav li:hover a.top_link span{color:#ffe300;}
.top_box .search{background:#eb1205;}
.top_box .search a{color:#ffe300;}
#nav li.me a.top_link,#nav li.me:hover a.top_link{background:url(../images/new_year/web_my_bg.jpg) no-repeat left top;height:63px;}
.top_box .mob_ico_link li a{background:url(../images/new_year/web_map_ico.png) no-repeat left top;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/new_year/web_map_ico.png);background:none\9!important;}
#nav li:hover ul.sub{top:60px;}

/*轮播图*/
.flicking_con a{background:#ccc;border:#ccc 2px solid;}
.flicking_con a.on{background:#e60012;border:#e60012 2px solid;}
#btn_prev{background:url(../images/new_year/hover_left.png) no-repeat left top;}
#btn_next{background:url(../images/new_year/hover_right.png) no-repeat right top;}

/*标题*/
.qukuai_tit h2 i{background:url(../images/new_year/time_ico.png) no-repeat center center;background-size:100%;width:45px;height:45px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/new_year/time_ico.png);background:none\9!important;}
.like_title h2 i{background:url(../images/new_year/like_ico.png) no-repeat center center;background-size:100%;width:45px;height:45px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src=/eump-portal/pages/shop/images/new_year/like_ico.png);background:none\9!important;}
.qukuai_tit{padding:8px 0;}
.qukuai_tit h2,.qukuai_tit h2 i,.qukuai_tit a,.qukuai_tit .zs{height:45px;line-height:45px;}
.qukuai_tit a{color:#ab0502;}
.sj_ico h2,.sp_ico h2{height:28px;line-height:28px;}
.sj_ico h2 i,.sp_ico h2 i{width:28px;height:28px;}

@media screen and (max-width:1250px) {
	.top_box{background:url(../images/new_year/web_top_mainbg_min.jpg) no-repeat left bottom;}
}


/*移动版*/
@media screen and (max-width:960px) {
	/*顶部导航*/
	.top_nav_mob{background:#a90501 url(../images/new_year/top_bg.jpg) no-repeat center top;background-size:100%;}
	.top_nav_mob .nav-wrap-right a{background:url(../images/new_year/map_ico.png) no-repeat left center;background-size:100%;}
	.top_nav_mob .box-search a{background:#850808;color:#d45656;}
	.top_nav_mob .box-search a i{background:url(../images/new_year/search.png) no-repeat left center;background-size:100%;}
	/*底部菜单*/
	.bt_nav_mob{background:#a50501 url(../images/new_year/bottom_bg.jpg) no-repeat;background-size:100%;border-top:#fff 1px solid;}
	.bt_nav_mob li{color:#ffe400;}
	.bt_nav_mob li.current span{color:#ffe400;}
	.bt_nav_mob li span.shop{background:url(../images/new_year/sj_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;}
	.bt_nav_mob li.current span.shop{background:url(../images/new_year/sj_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;color:#ffe400;}
	.bt_nav_mob li span.home{background:url(../images/new_year/index_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;}
	.bt_nav_mob li.current span.home{background:url(../images/new_year/index_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;color:#ffe400;}
	.bt_nav_mob li span.my{background:url(../images/new_year/my_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;}
	.bt_nav_mob li.current span.my{background:url(../images/new_year/my_ico_s.png) no-repeat center center;width:25px;height:25px;margin:5px auto 0 auto;background-size:100%;color:#ffe400;}
	/*栏目图标*/
	.qukuai_tit{padding:8px 2%;width:96%;}
	.like_title{width:92%;padding:8px 2%;}
	.qukuai_tit h2{height:30px;line-height:30px;color:#e60012;}
	.qukuai_tit a{text-decoration:underline;color:#f60;height:30px;line-height:30px;}
	.qukuai_tit .zs{height:30px;line-height:30px;color:#850808;}
	.qukuai_tit h2 i{background:url(../images/new_year/time_ico.png) no-repeat center center;background-size:100%;width:35px;height:35px;}
	.like_title h2 i{background:url(../images/new_year/like_ico.png) no-repeat center center;background-size:100%;}
	.sj_ico h2,.sp_ico h2{color:#555;}
	.sj_ico h2 i,.sp_ico h2 i{width:25px;height:25px;}
	/*轮播图圆点*/
	.flicking_con a{background:#850808;border:#850808 2px solid;}
	.flicking_con a.on{background:#e60012;border:#e60012 2px solid;}
	
	.nav_box{height:35px;background:#e5e5e5;border:0;width:100%;margin:0 auto;position:fixed;left:0;top:38px;}
	#nav{height:35px;background:#e5e5e5;}
	#nav li.top{width:33.33%;height:35px;float:left;font-size:0.9em;padding-top:0;}
	#nav li a.top_link span, #nav li:hover a.top_link span{color:#555;}
	#nav li:hover{background:#fff;}
	#nav li:hover ul.sub{top:35px;}
}