
.mask{
    padding:30px;
    text-align: center;
}

.close{
    display:inline-block;
    margin:20px 0 0 0;
    float:left;
    background:#fd960d;
    width:48%;
    height:40px;
    line-height:40px;
    color:#fff!important;
    text-align:center;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    width:100%;
    margin:20px auto 0 auto;
}

.clear-fix:before, .clear-fix:after {
    content: "";
    display: table;
}

.clear-fix:after {
    clear: both;
}

/* IE 6/7浏览器 (触发hasLayout) */
.clear-fix {
    *zoom: 1;
}
/*首页nfc，免费wifi*/
.bg-item{
    float:left;
}
.bg-item > div{
    float: left;
    display: inline-block;
    height: 24px;
    line-height:24px;
}

.bg-item > .bg-left{
    width: 5px;
    background: url("../images/bg-left.png") no-repeat right transparent;
}

.bg-item > .bg-content{
    background-color: #ff8822;
    width: auto;
    color: #fff;
    font-size:12px;
}

.bg-item > .bg-right{
    width: 15px;
    background: url("../images/bg-right.png") no-repeat left transparent;
}

.load-more{
    text-align: center;
    padding: 10px 0 10px 0;
    display: none;
}

.btn-disabled{
    background:#c4c4c4;
    color:#e8e8e8;
}

.a-href{
    cursor: pointer;
}

#shangpin-desc img{
    max-width:100% !important;
}