<div class="more_list dt_list">
    <dl>
        <dt>
            <a href="pages/shop/spxq.shtml?maStoreId=<%=rows[i].maStoreId%>&maGoodsId=<%=rows[i].maOrderGoods.maGoodsId%>">
                <img src="<%= rows[i].maOrderGoods.goodsSmImgFilePath %>" alt="图片"/>
            </a></dt>
        <div onclick="window.location.href=ctxPaths + '/pages/shop/order_detail.shtml?maOrderInfoId=<%=rows[i].maOrderInfoId%>&maGoodsId=<%=rows[i].maOrderGoods.maGoodsId%>'">
            <dd class="tit"><%=rows[i].maOrderGoods.goodsSubject %></dd>
            <dd class="zj">总价：<i>￥<%=rows[i].orderPriceTotalYuan%> </i></dd>
            <dd class="sl">数量：<%=rows[i].maOrderGoods.goodsCount%></dd>
            <dd>有效期：<%=rows[i].maOrderGoods.validEndDate%></dd>
            <dd>优惠凭证码：
                <%if(rows[i].maOrderVerifyList.length > 0){%>
                <%=rows[i].maOrderVerifyList[0].verifyCode%>
                <%if(rows[i].maOrderVerifyList.length > 1){%>
                ...
                <%}%>
                <%}%>
            </dd>
            <dd class="all_b">
                <%if(rows[i]["verifyCodeSign"] == 0){%>
                <a href="javascript:;" class="btn-disabled" data-maOrderInfoId="<%=rows[i].maOrderInfoId%>" data-maOrderGoodsId="<%=rows[i].maOrderGoods.maOrderGoodsId%>">发码</a>
                <%}else{%>
                <a href="javascript:;" class="b_1" data-maOrderInfoId="<%=rows[i].maOrderInfoId%>" data-maOrderGoodsId="<%=rows[i].maOrderGoods.maOrderGoodsId%>">发码</a>
                <%}%>
                <span class="b_1_text"></span>
                <a href="pages/shop/order_detail.shtml?maOrderInfoId=<%=rows[i].maOrderInfoId%>&maGoodsId=<%=rows[i].maOrderGoods.maGoodsId%>" class="b_2">订单详情</a>
            </dd>
        </div>
    </dl>
</div>
