<div class="more_list dt_list">
    <dl>
        <dt><a href="pages/shop/spxq.shtml?maStoreId=<%=rows[i].maStoreId%>&maGoodsId=<%=rows[i].maOrderGoods.maGoodsId%>">
            <img src="<%= rows[i].maOrderGoods.goodsSmImgFilePath %>" alt="" /></a>
        </dt>
        <div onclick="window.location.href=ctxPaths + '/pages/shop/order_detail.shtml?maOrderInfoId=<%=rows[i].maOrderInfoId%>&maGoodsId=<%=rows[i].maOrderGoods.maGoodsId%>'">
            <dd class="tit"><%=rows[i].maOrderGoods.goodsSubject%></dd>
            <dd class="zj">总价：<i>￥<%=rows[i].orderPriceTotalYuan%></i></dd>
            <dd class="sl">数量：<%=rows[i].maOrderGoods.goodsCount%></dd>
            <dd>有效期：<%=rows[i].maOrderGoods.validEndDate%></dd>
            <form class="pay-form pay" method="post" target="_blank" style="display: inline-block">
                <dd class="pay">
                    <%if( rows[i].maOrderGoods.goodsStatus === "1111"){%>
                    <button class="pay_order" data-maOrderInfoId="<%=rows[i].maOrderInfoId%>" type="submit">付款</button>
                    <%} else {%>
                    本商品已下架
                    <%}%>
                </dd>
            </form>
        </div>
    </dl>
</div>

