<div class="yiLayer" id="pay_tips">
    <h2><i></i>网上支付提示</h2>

    <p>
        <span>支付完成前,请不要关闭此支付验证窗口。</span>
        <span>支付完成后,请根据您支付的情况点击下面的按钮。</span>
    </p>

    <div class="btn">
        <a id="pay_error" href="pages/shop/pay_error.shtml" class="btn_2">支付遇到问题</a>
        <a id="pay_complete" href="pay_right.html" class="btn_1">支付完成</a>
    </div>
</div>