@charset "utf-8";

/* 格式化 */
html,body,h1,h2,h3,h4,h5,div,p,ul,ol,dl,dt,dd,fieldset,img{margin:0;padding:0;list-style:none;font-weight:normal;border:0 none;color:#555;}
body{font-size:100%;min-width:320px;-webkit-text-size-adjust:none;-webkit-backface-visibility:hidden;background:#eee;}
a:focus,input[type=text]:focus,input[type=password]:focus,textarea:focus{outline:none 0}
a:link,a:visited,a:hover{text-decoration:none;color:#555;}
img{-ms-interpolation-mode:bicubic;border:0;}
.clear{clear:both;}
.top_nav_mob,.bt_nav_mob{display:none;}
input[type="submit"],input[type="reset"],input[type="text"],input[type="password"],input[type="button"],button{-webkit-appearance:none;}
.clearfix{clear:both;}
.red{color:#f00;}
.gary{color:#b9b9b9;}
.green{color:#80aa54;}
.purple{color:#8661ae;}


/*公共部分*/
.layout{min-width:320px;margin:0 auto;overflow:hidden;margin-top:2.5em;}
.btn{background:#4fc1e9;width:100%;padding:12px 0;color:#fff;text-align:center;font-size:1.2em;border:0;border-radius:4px;}
.add_more{font-size:0.9em;width:96%;margin:0 auto;overflow:hidden;padding:10px 0;text-align:center;}

/*头部导航*/
.header{z-index:100;background:#4fc1e9;color:#fff;text-align:center;width:100%;padding:10px 0;display:inline-block;display:-moz-box;-moz-box-orient:horizontal;display:-webkit-box;-webkit-box-orient:horizontal;display:box;box-orient:horizontal;position:fixed;left:0;top:0;}
.header .nav-wrap-left{padding:0 10px;}
.header .nav-wrap-left a{width:13px;display:inline-block;}
.header .nav-wrap-left a img{width:100%;}
.header .nav-wrap-center{-webkit-box-flex:1.0;-moz-box-flex:1.0;box-flex:1.0;text-align:center;}
.header .nav-wrap-center h1{font-size:1.2em;width:100%;display:inline-block;text-align:center;color:#fff;}
.header .nav-wrap-right{padding:0 10px;}
.header .nav-wrap-right a{width:20px;display:inline-block;margin-top:2px;}
.header .nav-wrap-right a img{width:100%;}


/*底部菜单*/
.bottom_menu{width:100%;position:fixed;bottom:0;left:0;z-index:100;}
.bottom_menu > div{width:25%;float:left;overflow:hidden;text-align:center;color:#fff;padding:1px 0;background:#4fc1e9;}
.bottom_menu .curr{background:#3bafda;}
.bottom_menu .yq{margin:0 auto;height:30px;width:30px;background:url(../image/common/yq.png) no-repeat center center;background-size:100%;}
.bottom_menu .tj{margin:0 auto;height:30px;width:30px;background:url(../image/common/tj.png) no-repeat center center;background-size:100%;}
.bottom_menu .hy{margin:0 auto;height:30px;width:30px;background:url(../image/common/hy.png) no-repeat center center;background-size:100%;}
.bottom_menu .me{margin:0 auto;height:30px;width:30px;background:url(../image/common/me.png) no-repeat center center;background-size:100%;}
.bottom_menu .text{color:#fff;font-size:0.9em;}



/*登录开始*/

/*logo*/
.logo{width:100%;padding:10px 0 0 0;text-align:center;}
.logo img{width:150px;}

/*输入框*/
.login-form{width:100%;overflow:hidden;padding:10px 0;text-align:center;}
.login-form .login-group{width:96%;position:relative;margin:15px auto;overflow:hidden;text-align:left;}
.login-form .login-group .login-ico{position:absolute;left:0;top:0;padding:10px;background:#4fc1e9;border-radius:4px 0 0 4px;text-align:center;width:20px;}
.login-form .login-group .login-ico img{width:100%;}
.login-form .login-group .login-input{width:100%;font-size:1em;background:#fff;border:#4fc1e9 2px solid;box-sizing:border-box;padding:0.8em 0;height:46px;overflow:hidden;border-radius:4px;padding-left:45px;vertical-align:middle;}
.login-form .login-group .login-check{margin:0;padding:0;}
.login-form .login-group .login-text{font-size:0.9em;}
.login-form .e-tips{width:96%;margin:0 auto;background:#fff7d0;color:#f76120;border:1px solid #e5dadb;padding:5px 0;text-indent:5px;font-size:0.9em;box-sizing:border-box;margin-bottom:10px;}
.login-form .btn{width:96%;margin:0 auto;}

/*登录结束*/




/*验券开始*/

/*检验区域*/
.yq-group{width:96%;margin:0 auto;overflow:hidden;}
.yq-group .yq-list input.yq-text{width:100%;border:#ccc 2px solid;border-radius:4px;box-sizing:border-box;padding:10px;margin:1em 0;height:80px;font-size:1.2em;color:#dcdcdc;}
.yq-group .yq-list input.curr{color:#000;}
.yq-group .yq-tips{width:100%;overflow:hidden;border:#dcdcdc 1px solid;box-sizing:border-box;background:#fff;padding:10px 0;margin-top:1em;display:none;}
.yq-group .yq-tips h2{text-align:center;font-size:1.2em;width:96%;line-height:44px;margin:0 auto 10px auto;border-bottom:#dcdcdc 1px solid;padding-bottom:5px;}
.yq-group .yq-tips h2 img{width:30px;vertical-align:top;margin:8px 10px 0 0;}
.yq-group .yq-tips ul{width:100%;overflow:hidden;}
.yq-group .yq-tips ul li{width:100%;float:left;display:inline-block;margin:4px 0;font-size:0.9em;color:#6b6b6b;}
.yq-group .yq-tips ul li span.ls{float:left;width:40%;text-align:right;display:inline-block;}
.yq-group .yq-tips ul li span.rs{float:left;width:60%;text-align:left;display:inline-block;}


/*验券列表*/
.yq_list{width:100%;margin:0 auto;overflow:hidden;}
.yq_list h1{font-size:0.9em;border-bottom:#e9c587 1px solid;padding:8px 0;text-indent:10px;margin-top:6px;margin-bottom:10px;background:#fff7d0;}
.yq_list dl{width:92%;padding:2%;margin:0 auto;overflow:hidden;border-bottom:#dcdcdc 1px solid;background:#fff;}
.yq_list dt,.yq_list dd{width:100%;float:left;}
.yq_list dl .ls{float:left;display:inline-block;}
.yq_list dl .rs{float:right;display:inline-block;}
.yq_list dd{font-size:0.9em;margin-top:8px;}


/*弹出搜索栏*/
.side-box{background:#000;width:100%;height:100%;position:fixed;left:0;top:0;z-index:101;-moz-opacity:0.6;opacity:0.6;filter:alpha(opacity=60);display:none;}
.side-menu{position:fixed;top:0;right:-210px;width:210px;height:100%;background:#fff;z-index:9999;-webkit-transition:right .3s;transition:right .3s;}
.side-menu.open{right:0;}
.side-menu h1{background:#4fc1e9;color:#fff;text-align:center;width:100%;padding:12px 0;display:inline-block;font-size:1.2em;}
.side-menu form{width:90%;margin:10px auto 0 auto;overflow:hidden;}
.side-menu dl,.side-menu dd{width:100%;float:left;}
.side-menu dd{text-align:center;margin-bottom:8px;}
.side-menu dd input[type='text']{background:#fff;border:#aaa 1px solid;box-sizing:border-box;font-size:0.9em;height:40px;overflow:hidden;border-radius:4px;width:100%;padding:0.8em 5px;color:#ccc;}
.side-menu dd input.curr{color:#000;}
.side-menu form input.btn{padding:8px 0;}

/*验券结束*/


/*短信营销*/
.yx-group{width:96%;margin:0 auto;overflow:hidden;}
.yx-group .yx-list textarea{width:100%;border:#ccc 2px solid;border-radius:4px;font-size:1em;box-sizing:border-box;padding:10px;margin:1em 0 0.3em 0;height:80px;color:#555;word-wrap:break-word;}
.yx-group #remain{width:100%;text-align:right;margin-bottom:2em;}
.yx-group .text_nr{text-align:center;width:100%;font-size:0.9em;}
.yx-group .text_nr span{color:#f00}
.yx-group .yx-list .btn{margin:0.5em 0;}
.yx-group .yx-list .btn_g{background:#7d7d7d;color:#fff;width:100%;padding:12px 0;text-align:center;font-size:1.2em;border:0;border-radius:4px;margin:0.5em 0;}

/*短信记录*/
.yx_list{width:92%;padding:2%;margin:1em auto 0 auto;overflow:hidden;background:#fff;}
.yx_list dl,.yx_list dt,.yx_list dd{width:100%;float:left;}
.yx_list dl{padding:10px 0;border-bottom:#dcdcdc 1px solid;}
.yx_list dt{margin-bottom:10px;}
.yx_list dt span.data{float:left;margin-top:7px;font-size:0.9em;}
.yx_list dt span.zt{float:left;margin:7px 0 0 2em;font-size:0.9em;}
.yx_list dt span.btn{float:right;width:50px;padding:5px;font-size:1em;}
.yx_list dt span.btn a{color:#fff;}
.yx_list dd{font-size:0.9em;color:#8b8b8b;}


/*统计*/
.tj_box{width:96%;margin:0 auto;overflow:hidden;}
.tj_box .fl{padding:1em 0 0.5em 0;font-size:1em;}
.tj_box #container{border:#dcdcdc 1px solid;width:100%;overflow:hidden;box-sizing:border-box;}
.tj_box .select-btn{margin:1em 0 5px 0;overflow:hidden;}
.tj_box .select-btn button{background:#fff;border:#4fc1e9 1px solid;color:#4fc1e9;border-radius:4px;font-size:0.8em;float:left;width:50px;height:auto;padding:3px;margin-right:8px;}
.tj_box .select-btn button.curr{background:#4fc1e9;color:#fff;}
.pingjia-table{width:100%;vertical-align:middle;border-top:#dcdcdc 1px solid;border-left:#dcdcdc 1px solid;box-sizing:border-box;}
.pingjia-table th{background:#f5f5f5;text-align:center;color:#555;border-bottom:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;padding:8px 0;margin:0;font-size:0.9em;font-weight:bold;}
.pingjia-table td{font-size:0.8em;color:#555;padding:5px;border-bottom:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;box-sizing:border-box;}
.pingjia-table td#servicePercent{color:#090;}
.pingjia-table td#conditionPercent{color:#f00;}

.vip-table-list{width:100%;vertical-align:middle;border-left:#dcdcdc 1px solid;box-sizing:border-box;margin:0 0 10px 0;}
.vip-table-list th{background:#f5f5f5;text-align:center;color:#555;border-bottom:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;padding:8px 0;margin:0;font-size:0.9em;font-weight:bold;}
.vip-table-list td{font-size:0.8em;color:#555;padding:5px;border-bottom:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;box-sizing:border-box;text-align:center;color:#555;}

/*我的*/
.user_center{width:96%;margin:0 auto;overflow:hidden;}
.user_center .logout{width:100%;margin:0 auto;overflow:hidden;}
.user_center .logout a{display:inline-block;background:#fd5f5f;color:#fff;padding:10px 0;width:100%;text-align:center;border-radius:4px;font-size:1.2em;}
.user_center ul{margin:1em 0;width:100%;border-top:#dcdcdc 1px solid;border-left:#dcdcdc 1px solid;border-right:#dcdcdc 1px solid;box-sizing:border-box;overflow:hidden;}
.user_center li{width:100%;float:left;display:inline-block;border-bottom:#dcdcdc 1px solid;}
.user_center li a{display:inline-block;width:100%;background:#fff;color:#555;font-size:1em;padding:10px 10px 8px 10px;box-sizing:border-box;float:left;}
.user_center li a *{float:left;}
.user_center li a img{width:22px;vertical-align:middle;margin-right:10px;}
.user_center li a i{display:inline-block;background:url(../image/common/next.png) no-repeat right 1px;float:right;background-size:100%;width:10px;height:17px;}


/*弹出层*/
.open_tips{padding:10px;width:250px;overflow:hidden;background:#fff;border:#4fc0e8 2px solid;border-radius:4px;}
.open_tips{text-align:center;}
.open_tips h2{font-size:1.2em;text-align:center;height:40px;line-height:40px;overflow:hidden;}
.open_tips p{font-size:0.9em;width:100%;text-align:center;margin:0.5em 0;}
.open_tips .close{display:inline-block;background:#4fc1e9;color:#fff;width:80%;padding:8px 0;text-align:center;font-size:1.1em;border:0;border-radius:4px;margin:0.5em 0 0 0;}
/*
#background{position:absolute;z-index:999999999;top:0;left:0;background:#555;display:none;padding:0;margin:0;width:100%!important;-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity=80);}
*/
/*#content{position:fixed;z-index:999999999999;display:none;left:50%;top:50%;margin:-125px 0 0 -135px;}*/
