.icon-error {
    background: url("../image/common/error.png") no-repeat center top;
    background-size: 98%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.icon-right {
    background: url(../image/common/right.png) no-repeat center top;
    background-size: 98%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.yi-date {
    background: #fff;
    border: #aaa 1px solid;
    box-sizing: border-box;
    font-size: 1.2em;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    padding: 0.8em 5px;
    color: #ccc;
}

